.textAlignCenter {
  text-align: center;
}

.helperText {
  color: var(--sidebar-helper-text);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wFull {
  width: 100%;
}

.wAuto {
  width: auto !important;
}

.cursorPointer {
  cursor: pointer;
}
