.crmModalWrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(2, 2, 30, 0.5);
  backdrop-filter: blur(5px);
  animation: showAni 0.1s ease-in;
  display: grid;
  place-items: center;

  &Content {
    border-radius: 20px;
    background-color: #fff;
    width: 796px;
    padding: 20px 20px 50px 20px;

    &Body {
      border: 1.2px solid var(--sidebar-select-border-color);
      border-radius: 14px;
      padding: 21px 19px;

      h3 {
        color: var(--off-black);
        font-family: PoppinsRegular;
        font-size: 20px;
        font-style: normal;
        line-height: normal;
      }

      p {
        color: var(--sidebar-helper-text);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;
        display: block;
      }

      &Img {
        display: flex;
        align-items: start;
        justify-content: space-between;
        span {
          cursor: pointer;
        }
      }

      &Action {
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
          width: 143px;
          height: 48px;
          border-radius: 8px;
          border: 1px solid var(--sidebar-select-border-color);
          background: #fff;

          color: var(--off-black);
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}

@keyframes showAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
