@import './mixin';
@import './helpers';

.sidebarMain {
  display: flex;
  position: fixed;
  height: calc(100vh - 80px);
  right: 0;
  top: 83px;
  width: auto;
  z-index: 5;

  input[type='text']::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbbbbb;
    opacity: 1; /* Firefox */
  }

  input[type='text']:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bbbbbb;
  }

  input[type='text']::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #bbbbbb;
  }
}
.sidebarWrapper {
  width: 500px;
  height: 100%;
  background: var(--border-gradient);

  overflow: auto;
  padding: 1px;
  border-top-left-radius: 25px;

  &Content {
    border-top-left-radius: 25px;
    width: 500px;
    height: calc(100vh - 80px);
    background: var(--sidebar-background-color);
    position: fixed;
    overflow: auto;
    z-index: 1;
  }

  &Header {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    &Input {
      position: relative;
      background: var(--border-gradient);
      padding: 1px;
      border-radius: 10px;
      flex: auto;

      &::after {
        content: '';
        position: absolute;
        height: calc(100% - 2px);
        width: calc(100% - 2px);
        border-radius: 9px;
        left: 1px;
        background: var(--sidebar-gradient-background);
        background-color: #fff;
        z-index: 0;
      }

      input[type='text'] {
        border: none;
        border-radius: 10px;
        background-color: transparent;
        padding: 8px 50px 8px 21px;
        color: var(--off-black);
        font-family: PoppinsSemiBold;
        font-size: 24px;
        line-height: normal;
        z-index: 1;
        position: relative;
        width: 100%;
        font-size: 20px !important;
      }

      svg {
        z-index: 4;
        position: absolute;
        right: 20px;
        margin: auto;
        bottom: 0;
        top: 0;
        cursor: pointer;
      }
    }
  }

  &Body {
    border-radius: 25px 25px 25px 25px;
    border: 1px solid #dedede;
    background: #fff;
    margin: 5px 14px;
    padding: 22px;

    &Section {
      margin-bottom: 15px;

      > label {
        color: var(--off-black);
        font-family: PoppinsRegular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      div[class$='-control'] {
        border-radius: 8px;
        padding: 4px;

        border-color: var(--sidebar-select-border-color);

        div[class$='-placeholder'],
        div[class$='-SingleValue'] {
          color: var(--sidebar-helper-text);
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      &Link {
        position: relative;
        background: var(--border-gradient);
        border-radius: 8px;
        border: none;
        width: 100%;
        color: var(--sidebar-helper-text);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 16px;

        &::after {
          content: '';
          position: absolute;
          height: calc(100% - 2px);
          width: calc(100% - 2px);
          border-radius: 7px;
          left: 1px;
          top: 1px;
          background-color: #fff;
          z-index: 0;
        }

        &:not(:disabled):hover {
          color: var(--off-black);
          &::after {
            background: var(--sidebar-gradient-background);
            background-color: #fff;
          }
        }

        &:disabled {
          color: var(--sidebar-helper-text);
          svg {
            opacity: 0.5;
          }
          &::after {
            background-color: #f2f2f2 !important;
            pointer-events: none;
          }
        }

        span {
          z-index: 1;
          position: relative;
        }
      }

      &LinkM {
        padding: 8px;
      }
    }
  }
}

.btnSelectOption {
  display: flex;
  gap: 12px;

  &Btn {
    border-radius: 8px;
    padding: 16px;
    flex: 50%;
    text-align: left;
    position: relative;
    border: none;
    background: #e0e0e0;
    > span {
      position: relative;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      height: calc(100% - 2px);
      width: calc(100% - 2px);
      border-radius: 7px;
      left: 1px;
      top: 1px;
      background-color: #fff;
      z-index: 0;
    }

    &Active {
      background: var(--border-gradient);
      font-family: PoppinsRegular;
      font-size: 14px;
      font-style: normal;
      line-height: normal;

      &::after {
        content: '';
        position: absolute;
        height: calc(100% - 2px);
        width: calc(100% - 2px);
        border-radius: 7px;
        left: 1px;
        top: 1px;
        background: var(--sidebar-gradient-background);
        background-color: #fff;
        z-index: 0;
      }
    }
  }
}

.flowForm {
  position: relative;
  z-index: 1;

  &SelectControl {
    div[class$='-control'] {
      padding-left: 90px;

      div[class$='-SingleValue'] {
        color: var(--off-black);
      }
    }
  }

  &SelectControl {
    div[class$='-control'] {
      padding-left: 90px;
    }
  }

  section {
    position: relative;
    span {
      color: var(--sidebar-helper-text);
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      position: absolute;
      z-index: 1;
      top: 17px;
      left: 15.4px;
    }
  }

  > div > label,
  > label {
    color: var(--off-black);
    font-family: PoppinsRegular;
    font-size: 16px;
    line-height: normal;
    position: relative;
    width: 100%;

    small {
      position: absolute;
      margin: auto;
      right: 0;
      top: 5px;
      color: var(--sidebar-helper-text);
      font-family: PoppinsLight;
      font-size: 12px;
      line-height: normal;
    }
  }
}

.templateHeaderImage {
  border-radius: 8px;
  border: 1px solid var(--sidebar-select-border-color);
  background: #fff;
  padding: 9px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.templateBodyTextArea {
  display: block;
  width: 100%;
  height: 150px;
  border-radius: 8px;
  border: 1px solid var(--sidebar-select-border-color);
  background: #fff;
  padding: 16px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &:disabled {
    background-color: #f2f2f2;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbbbbb;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bbbbbb;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #bbbbbb;
  }
}

.templateBodyInput {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--sidebar-select-border-color);
  background: #fff;
  padding: 16px;

  &:disabled {
    background-color: #f2f2f2;
  }

  &InSide input {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid var(--sidebar-select-border-color);
    background: #fff;
    padding: 16px;

    &:disabled {
      background-color: #f2f2f2;
    }
  }
}

.templateBodyInputAppended {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--sidebar-select-border-color);
  background: #fff;
  padding: 16px;
  padding-left: 98px;
  color: var(--off-black);

  &:disabled {
    background-color: #f2f2f2;
  }
}

.templateBodyInputInSide input {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--sidebar-select-border-color);
  background: #fff;
  padding: 16px;
  width: 100%;

  &:disabled {
    background-color: #f2f2f2;
  }
}

.formDisabled {
  background-color: #f2f2f2;
  pointer-events: none;
}

.gradientBtn {
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  position: relative;
  border: none;
  background: var(--border-gradient);
  > span {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    border-radius: 7px;
    left: 1px;
    top: 1px;
    background: var(--btn-gradient-bg);
    background-color: #fff;
    z-index: 0;
  }
}

.gradientButton {
  background: var(--border-gradient);
  border: none;
  border-radius: 12px;
  padding: 14px;
  padding: 14px 54px 15px 32px;
  align-items: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;

  &:disabled {
    background: #d1d1d1 !important;
  }
}

.blackBorderButton {
  background: transparent;
  border: none;
  border-radius: 12px;
  padding: 14px;
  padding: 14px 54px 15px 32px;
  align-items: center;
  color: var(--sidebar-helper-text);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;

  &:hover {
    background: var(--sidebar-gradient-background);
  }
}

.templateBodyInputWrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  svg {
    cursor: pointer;
    width: 30px;
  }
}

.errorField {
  border-color: red;
  outline: red;
}

.sidebarPreview {
  width: 500px;
  background: var(--sidebar-gradient-background);
  border: 1px solid #4193f0;
  background-color: #fff;
  // height: 100%;
  // position: fixed;
  // right: 0;
  overflow: hidden;
  padding: 20px;
  z-index: 0;
  margin-left: 1px;

  &Content {
    &Body {
      display: flex;
      justify-content: center;
      > div {
        width: 350px;
        transform: scale(0.9);
        margin-top: -30px;
      }

      &Header {
        background: var(--border-gradient);
        color: #fff;
        font-family: PoppinsRegular;
        font-size: 24px;
        font-style: normal;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        padding: 10px 15px;
        margin-bottom: 20px;
      }
    }
  }
}

.arrowsScreenWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 2em;
  position: relative;
  width: 100%;

  svg {
    cursor: pointer;
    margin: 0px 8px;

    &:hover {
      path {
        fill-opacity: 1;
      }
    }
  }
  span {
    width: 100px;
    display: block;
    color: var(--sidebar-helper-text);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:first-child {
      margin-left: 0px;
      margin-right: auto;
      cursor: pointer;
      text-align: left;
    }

    &:last-child {
      margin-left: auto;
      margin-right: 0px;
      cursor: pointer;
      text-align: right;
    }
  }
}

.arrowsScreenPrev {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  span {
    color: #2b2b2b;
    font-family: PoppinsRegular;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  svg {
    path {
      fill-opacity: 1;
    }
  }
}

.buttonDropdown {
  width: 100%;
  position: relative;

  &Container {
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 65px;

    &Content {
      position: relative;
      background: var(--border-gradient);
      padding: 1px;
      border-radius: 10px;
      flex: auto;

      &::after {
        content: '';
        position: absolute;
        height: calc(100% - 2px);
        width: calc(100% - 2px);
        border-radius: 9px;
        left: 1px;
        top: 1px;
        background: var(--sidebar-gradient-background);
        background-color: #fff;
        z-index: 0;
      }

      &Body {
        padding: 27px 18px;
        @include zIndPosRltv();
        > label {
          color: var(--off-black);
          font-family: PoppinsRegular;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        button {
          padding: 13px 25px;
        }
      }
    }
  }
}

.btnConfirm {
  position: relative;

  &.btnConfirmDisabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &Container {
    position: absolute;
    width: 426px;
    z-index: 2;
    top: 36px;
    right: 0px;

    &Content {
      position: relative;
      background: var(--border-gradient);
      padding: 30px;
      border-radius: 10px;
      flex: auto;

      &::after {
        content: '';
        position: absolute;
        height: calc(100% - 2px);
        width: calc(100% - 2px);
        border-radius: 9px;
        left: 1px;
        top: 1px;
        background: var(--sidebar-gradient-background);
        background-color: #fff;
        z-index: 0;
      }

      &Body {
        padding: 27px 18px;
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid var(--sidebar-select-border-color);

        @include zIndPosRltv();
        > label {
          color: var(--off-black);
          font-family: PoppinsRegular;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        button {
          padding: 13px 25px;
        }
      }
    }
  }
}

.gradientWrapper {
  animation: showAni 0.1s ease-in;
  position: relative;
  background: var(--border-gradient);
  border-radius: 10px;
  padding: 16px 12px;
  &::after {
    content: '';
    position: absolute;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    border-radius: 9px;
    left: 1px;
    top: 1px;
    background: var(--sidebar-gradient-background);
    background-color: #fff;
    z-index: 0;
  }
}

.orLabel {
  border-radius: 14px;
  padding: 5px;
  width: 40px;
  position: relative;
  border: none;
  background: var(--border-gradient);
  > span {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    border-radius: 13px;
    left: 1px;
    top: 1px;
    background: var(--btn-gradient-bg);
    background-color: #fff;
    z-index: 0;
  }
}

@keyframes showAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
