@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';

:root {
  // background-color: #182327;
  height: 100%;
}

#pave-chat {
  height: 100%;
  font-family: 'Poppins', sans-serif;

  .pave-chat-init-btn {
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(1);
    }
  }

  .pave-chat-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
    overflow: hidden;
    opacity: 1;
    transform-origin: right bottom;
    transition: width 200ms ease 0s, height 200ms ease 0s,
      max-height 200ms ease 0s, transform 300ms cubic-bezier(0, 1.2, 1, 1) 0s,
      opacity 83ms ease-out 0s;
    pointer-events: all;

    .pave-chat-welcome {
      height: 100%;
      // background-image: url(https://cdn.yourpave.com/pave-chat/bg.png);
      background-size: cover;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &-greet {
        font-weight: 700;
        color: #fff;
        font-size: 40px;
        line-height: 0.9em;
        margin-top: 30px;
        margin-bottom: 30px;
        span {
          font-size: 30px;
          font-weight: 500;
        }
      }

      &.tec {
        .pave-chat-welcome-greet {
          font-size: 25px;
          span {
            font-size: 20px;
          }
        }
      }

      .pave-chat-welcome-greet {
        &-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          select {
            text-align: center;
            color: #f2f2f2;
            font-size: 12px;
            font-weight: 100;
            font-weight: 300;
            outline: 0;
            background-color: transparent;
            border-radius: 8px;
            border: 1px solid #cdcdd9;
            width: 130px;
            padding: 5px;
          }
        }
      }
    }

    .pave-chat-welcome-powered {
      text-align: center;
      color: #f2f2f2;
      font-size: 12px;
      font-weight: 100;
      padding: 5px;

      select {
        color: white;
        font-weight: 300;
        outline: 0;
        background-color: transparent;
        border-radius: 3px;
        border: 1px solid #cdcdd9;
      }
    }
    .pave-chat-welcome-actions {
      margin-top: 20px;
      select,
      input {
        width: -webkit-fill-available;
        font-family: Poppins, sans-serif;
        color: #fff;
        font-size: 14px;
        padding: 1.13rem 0.85rem;
        line-height: 1.5;
        outline: 0;
        background-color: #18232726;
        border-radius: 8px;
        border: 1px solid #cdcdd9;
        margin-bottom: 10px;

        &.error {
          background-color: rgb(254 89 89 / 37%) !important;
        }
      }
      button {
        margin-top: 10px;
      }
      label {
        color: #fff;
        margin-bottom: 5px;
        display: block;
        span {
          color: $pave-red-color;
        }
      }

      .cbox {
        font-size: 14px;
        color: white;
        display: flex;
        align-items: start;
        margin-bottom: 8px;
        margin-top: 8px;
        div {
          input {
            margin-top: 4px;
            width: 20px;
            margin-right: 10px;
          }
        }
        a {
          color: #fe5959;
        }
      }
    }

    .pave-chat-btn {
      // background-color: rgba(254, 89, 89, 1);
      // color: rgba(255, 255, 255, 1);
      // border-color: rgba(254, 89, 89, 1);
      display: inline-block;
      padding: 1.13rem 2.15rem;
      transition: opacity 0.3s, background-color 0.3s, border-color 0.3s,
        color 0.3s, transform 0.2s;
      font-size: 1rem;
      font-weight: 500;
      font-style: normal;
      text-decoration: none;
      border-radius: 8px;
      border: 1px solid rgba(254, 89, 89, 1);
      position: relative;
      white-space: nowrap;
      font-family: Poppins, sans-serif;
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.btn-grey {
        border: 1px solid rgb(157 157 157) !important;
        border-color: rgb(157 157 157) !important;
        background-color: rgb(157 157 157) !important;
        color: rgba(255, 255, 255, 1) !important;
      }
      &.btn-black {
        border: 1px solid #182327 !important;
        border-color: #182327 !important;
        background-color: #182327 !important;
        color: rgba(255, 255, 255, 1) !important;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  .pave-conversation {
    height: 100%;
    background-color: white;

    &-header {
      padding: 10px;

      &-btn {
        width: 40px;
        height: 40px;
        border: #cdcdd9;
        background-color: rgb(196 196 196 / 20%);
        border-radius: 8px;
        text-align: center;
        padding: 7px;
        &:hover {
          background-color: rgb(196 196 196 / 50%);
        }
        &:active {
          background-color: rgb(196 196 196 / 20%);
        }
      }

      &-agent {
        &-img {
          flex: 40px;
          img {
            border-radius: 30px;
          }
        }

        &-details {
          > span:first-child {
            font-size: 14px;
            color: #fff;
          }

          > span:last-child {
            font-size: 12px;
            color: #c8c8c8;
            svg {
              display: inline;
            }
          }
        }
      }
    }

    &-body {
      padding: 8px;
      flex: auto;
      overflow: auto;
      &-msg {
        > label {
          color: $pave-black-color;
          font-weight: 700;
        }
        > div {
          font-size: 14px;
          max-width: 90%;
          border-radius: 8px;
          padding: 8px 10px;
          background-color: rgb(242, 242, 242);
          color: $pave-black-color;
          white-space: break-spaces;
        }
        &.me {
          justify-content: end;
          > div {
            background-color: #182328;
            color: #fff;
          }
        }
        &.start_session {
          justify-content: center;
          > div {
            background-color: #fff;
            color: #b0b0b0;
            font-size: 12px;
          }
        }
      }
    }

    &-input {
      border-top: 1px solid #c5c5c5;
      padding: 8px;
      textarea {
        flex: auto;
        resize: none;
        outline: none;
        overflow: hidden;
        color: $pave-black-color;
        padding: 8px;
      }
      button {
        margin-bottom: 10px;
      }
    }
  }
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: transparent;
    border-radius: 50%;
  }

  .loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: transparent;
    width: 20px;
    height: 20px;
  }

  .loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: transparent;
    width: 20px;
    height: 20px;
    animation: paveSpin 1s linear infinite;
  }
  .shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: paveShake 0.2s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
}

@keyframes paveShake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes paveSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

div[classname='test-class'] {
  text-align: left !important;
  font-family: inherit !important;
  margin-top: -35px !important;
  margin-bottom: -8px !important;
}

.wpre {
  display: flex;

  select {
    width: 140px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  input {
    // border-top-right-radius: 8px;
    // border-bottom-right-radius: 8px;
    // border-top-left-radius: 0px !important;
    // border-bottom-left-radius: 0px !important;
    text-indent: 140px;
  }

  .select {
    z-index: 1;
    position: absolute;

    > div {
      width: 150px;
      height: 59px;
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      background-color: transparent;
      > div {
        > div {
          color: #9ca3af;
        }
      }
    }
    #react-select-2-listbox {
      background-color: #fff;
      div[class$='-option'] {
        color: #182328 !important;
      }
    }
    div[class$='-MenuList'] {
      background-color: #fff;
      max-height: 130px;
      border: 1px solid #cccccc;
      border-radius: 8px;
    }
    div[class$='-menu'] {
      box-shadow: none !important;
    }
  }
}

.spinner {
  display: inline-block;
  width: 15px;
  height: 15px;
  animation: morph 2s infinite;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 50%;
    transform: rotate(0deg);
    background-color: #2a5245;
  }
  50% {
    border-radius: 0%;
    transform: rotate(180deg);
    background-color: #c5c5c5;
  }
}

@media (max-height: 650px) {
  .wpre .select > div {
    width: 100px !important;
  }
  .wpre > input {
    width: 100% !important;
  }
  #pave-chat .pave-chat-body .pave-chat-welcome {
    padding: 20px;
  }
  .pave-chat-welcome-greet {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    font-size: 18px !important;
    span {
      font-size: 15px !important;
    }
  }

  .pave-chat-welcome-actions {
    margin-top: 10px;
    > label {
      font-size: 12px !important;
    }
    input,
    select {
      padding: 0.63rem 0.85rem !important;
      font-size: 12px !important;
    }
    > button {
      padding: 0.63rem 0.85rem !important;
    }
    .select {
      > div {
        height: 40px;
      }
      div[class$='-Input'] {
        margin: -3px;
      }
      div[class$='-singleValue'],
      div[class$='-option'] {
        font-size: 12px !important;
      }
    }
    .cbox {
      span {
        font-size: 12px !important;
      }
    }
  }
}
