@font-face {
  font-display: swap;
  font-family: 'Slick';
  src: url(../scss/fonts/slick.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Domaine Text';
  src: url(../scss/fonts/DomaineTextLight.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Post Grotesk';
  src: url(../scss/fonts/PostGrotesk-Regular.woff) format('woff');
}

#breathe-pilates-root {
  color: #274062;
  background-color: #eef4e9;
  padding-bottom: 20px;

  &.greenish {
    background-color: #eef4e9;
  }

  .header-transitioning {
    z-index: 1;
    position: fixed;
    width: 100%;

    &.colored {
      background: #0e4039;
      transition: background 3s ease;
    }
  }

  .header-fixed {
    z-index: 2;
    position: fixed;
    width: 100%;
    background: #0e4039;
    top: 0px;
  }

  .container.l {
    width: 66%;
    padding-left: 80px;
    padding-right: 80px;
    padding-right: 80px;
  }
  .banner-cover-img {
    background: url(https://www.breathepilates.com.sg/wp-content/themes/breathe/img/homepage-breathe.jpg)
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin-bottom: 100px;
  }

  .img-banner {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    height: 520px;
    margin-bottom: 40px;
  }

  .heading {
    font-family: 'Domaine Text';
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.7px;
  }

  h1,
  h2,
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h2 {
    font-family: 'Domaine Text';
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.7px;
  }
  h1 {
    font-family: 'Domaine Text' !important;
    font-size: 24px !important;
  }
  a {
    text-decoration: underline;
    color: #274062;
    &.action-btn {
      text-decoration: none;
    }
  }
  p {
    font-family: 'Post Grotesk';
    font-size: 16.5px;
    line-height: 1.4;
    color: #274062;
    margin: 0 0 20px;
  }

  .action-btn {
    color: #274062;
    border: 1px solid #274062;
    background-color: transparent;
    margin: 0 0;
    padding: 20px 70px;
    font-size: 15px;
    font-family: 'Domaine Text';
    &:hover {
      background-color: #0e4039;
      color: #fff;
    }
  }

  .btn-wrap {
    margin-bottom: 70px;
  }
  .mobile-footer {
    border-top: 1px solid #283f61;
    display: none;
  }
  .footer {
    height: auto;
    padding: 50px 0;
    color: #274062;
    line-height: 1.6 !important;
    font-family: 'Post Grotesk';
    a,
    p {
      font-size: 14px;
    }
    li {
      line-height: 1.6 !important;
    }
    .footer-list {
      width: 100%;
      > div {
        flex: 1 0 auto;
        height: 220px;
        &:nth-child(1),
        &:nth-child(2) {
          position: relative;
          &::after {
            content: '';
            border-right: 1px solid #283f60;
            height: 220px;
            position: absolute;
            top: 0px;
            right: -20px;
          }
        }
      }
    }
  }
  ul {
    a {
      text-decoration: none;
      font-family: 'Post Grotesk';
    }
  }

  // Helpers
  .centered {
    text-align: center;
  }

  .lines {
    width: 1px;
  }

  .photo-wrapper {
    gap: 2em;

    &-item {
      cursor: pointer;
      position: relative;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
      flex: 48% 0;
      flex-grow: 0;
      height: 443px;
    }

    &-overlay {
      text-align: center;
      opacity: 0;
      background-color: rgb(14, 64, 57, 0.9);
      color: #fff;
      height: 100%;
      padding: 9%;

      span {
        font-family: 'Domaine Text';
        font-size: 21px;
        display: block;
        line-height: 1.1;
        margin-bottom: 25px;
      }

      p {
        color: #fff;
        font-size: 14px;
        font-family: 'Post Grotesk';
      }

      &:hover {
        transition: opacity 0.25s ease-in-out;
        -moz-transition: opacity 0.25s ease-in-out;
        -webkit-transition: opacity 0.25s ease-in-out;
        opacity: 1;
      }
    }
  }

  .session-list {
    gap: 2em;
    &-item {
      height: 590px;
      position: relative;
      flex: 31.7% 0;
      font-size: 24px;
      font-weight: normal;
      text-align: center;
      background-color: #fff;
      padding: 30px 30px;
      font-family: 'Post Grotesk';
      font-size: 16.5px;
      line-height: 1.4;
      span {
        font-family: 'Domaine Text';
        font-size: 25px;
        display: block;
        margin-bottom: 10px;
      }
      strong {
        font-size: 24px;
        font-weight: normal;
        display: block;
      }
      p {
        margin-bottom: 10px;

        .fix-bottom {
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
        }
        small {
          font-size: 13px;
        }
      }
    }
    hr {
      border-color: #274062;
      width: 25%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 991px) {
    .fff {
      flex-direction: column !important;
      > div:first-child {
        display: none;
      }
    }

    .container.l {
      width: 100% !important;
      padding-left: 25px;
      padding-right: 25px;
    }
    h2,
    h3 {
      font-size: 22px !important;
      line-height: 1.2 !important;
      letter-spacing: -0.2px !important;
      padding-left: 10px;
      padding-right: 10px;
    }
    h1 {
      font-family: 'Domaine Text' !important;
      font-size: 24px !important;
    }
    p {
      font-size: 15px !important;
      line-height: 1.5 !important;
      padding-left: 2px;
      padding-right: 2px;
    }

    .action-btn {
      padding: 12px 20px;
    }

    .btn-wrap {
      margin-bottom: 20px !important;
    }
    .img-banner {
      height: 0 !important;
      width: 100% !important;
      padding-bottom: 40% !important;
      margin-bottom: 50px;
    }
    .lines {
      height: 50px;
    }

    .footer {
      display: none !important;
    }

    .mobile-footer {
      display: block !important;
    }

    .photo-wrapper {
      &-item {
        flex: 100%;
        height: 268px;

        span {
          font-size: 18px !important;
        }
        p {
          font-size: 15px !important;
          line-height: 1.5 !important;
        }
      }
      &-overlay {
        padding: 5px !important;
      }
    }

    .session-list {
      &-item {
        flex: 100%;
      }
    }
  }
}
