#colliers-root {
  h1 {
    font-family: 'PoppinsRegular';
    color: #fff;
    text-align: center;
  }
  p {
    font-family: 'PoppinsLight';
  }

  .header-1 {
    h1 {
      padding: 10px 0px;
    }
    p {
      color: #fff;
      font-family: 'PoppinsLight';
      font-size: 1.2em;
    }

    &.bg-photo {
      padding: 80px;
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        // url(https://cdn.yourpave.com/assets/5ac48b67a0d5561dda00019a.jpeg);
        url(https://cdn.yourpave.com/assets/tower535_1575x900_williamfurniss_10jpg.webp);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .features {
    gap: 2em;
    margin-bottom: 20px;
    h2 {
      font-family: 'PoppinsRegular';
    }

    .item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px 30px;
      background: #f7f7f7;
      box-shadow: 6px 7px 0px 0px #e9e9e9;

      h2 {
        font-size: 20px;
        font-family: 'PoppinsExtraLight';
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 10px;
      }

      p {
        font-size: 1.1em;
        line-height: 2;
      }
    }
  }

  hr {
    border: 0;
    height: 2px;
    background-color: #e9e9e9;
    width: 50%;
  }

  .watch {
    h1 {
      font-family: 'PoppinsRegular';
      color: #000;
      padding: 10px 0px;
    }
  }

  .awards {
    ul {
      padding: 0px;
      list-style: none;

      li {
        padding: 20px 30px;
        background: #f3f3f3;
        box-shadow: 6px 7px 0px 0px #e9e9e9;
        margin-bottom: 10px;
        width: 400px;
        padding: 20px 30px;
        background: #f3f3f3;
        font-size: 1.3em;
      }
    }
  }
  // Responsive
  @media (max-width: 991px) {
    .header-1.bg-photo {
      padding: 0px;
      h1 {
        font-size: 22px;
      }
      p {
        font-size: 0.9em;
      }
    }
    .header-1 .d-flex {
      flex-wrap: wrap;

      > div {
        flex: auto;
      }
    }

    iframe {
      width: 100%;
    }

    .invest {
      > div {
        padding-top: 0px !important;
        gap: 1em;
        h1 {
          font-size: 22px;
        }
        p {
          font-size: 0.9em;
        }
      }
    }

    .features {
      flex-wrap: wrap;

      > div {
        flex: auto;
        flex-basis: auto !important;
      }
      h1 {
        font-size: 22px !important;
      }
      p {
        font-size: 0.9em !important;
      }
    }

    .watch {
      padding: 0px;
      h1 {
        font-size: 22px;
      }
      p {
        font-size: 0.9em;
      }
      iframe {
        height: 400px;
      }
    }

    .awards {
      .container {
        padding: 0px 10px !important;
        flex-direction: column-reverse !important;
      }
      > div {
        padding-top: 0px !important;
        gap: 1em;
        h1 {
          font-size: 22px;
        }
        p {
          font-size: 0.9em;
        }
      }
      li {
        width: 100% !important;
        font-size: 12px !important;
        text-align: center;
      }
    }

    .contact {
      > div {
        padding-top: 0px !important;
        gap: 1em;
        h1 {
          font-size: 22px;
        }
        p {
          font-size: 0.9em;
        }
      }
    }
  }

  // Helper
  .gap-10 {
    gap: 10em;
  }

  .black-bg {
    background-color: #000;
  }

  .gray-bg {
    background-color: #f3f3f3;
  }

  .color-black {
    color: #000 !important;
  }

  .text-left {
    text-align: left !important;
  }
}
