/* vietnamese */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/anton/v23/1Ptgg87LROyAm3K8-C8CSKlvPfE.woff2)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/anton/v23/1Ptgg87LROyAm3K9-C8CSKlvPfE.woff2)
    format('woff2');
  unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
    U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/anton/v23/1Ptgg87LROyAm3Kz-C8CSKlv.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/homemadeapple/v18/Qw3EZQFXECDrI2q789EKQZJob0x6XHgOiJM6.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2)
    format('woff2');
  unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
    U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2)
    format('woff2');
  unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
    U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXiWtFCc.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2)
    format('woff2');
  unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
    U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2)
    format('woff2');
  unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
    U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#h-kore-root {
  background-image: url(https://h-kore.com/assets/images/bg-grain.jpg);
  -webkit-font-smoothing: antialiased;
  .header-transitioning {
    z-index: 1;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    &.colored {
      background: #000;
      transition: background 1s ease;
    }
  }

  .img-banner {
    background-position: top !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    height: 600px;
    min-height: 60vh;
    margin-bottom: 40px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0)),
        to(rgba(0, 0, 0, 0.3))
      );
    }

    .title {
      z-index: 1;
      font-size: 100px;
      line-height: 0.6em;
      letter-spacing: 2px;
      font-family: 'Anton', sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      margin-bottom: 0;
      color: #fff;
      button {
        background-color: #ddc80d;
        text-transform: uppercase;
        font-weight: normal;
        border: none;
        border-radius: 3px;
        padding: 10px 20px;
        font-size: 32px;
        line-height: initial;
      }
    }
  }

  .center-p p {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 1.7em;
    width: 600px;
    font-family: 'Lato', sans-serif;
  }

  .title-sub {
    font-size: 30px;
    line-height: 1em;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0;
    color: #fff;
    margin-bottom: 30px;
    > span {
      color: #ddc80d;
    }
  }

  .class-list {
    gap: 2em;
    &-item {
      flex: 31.7% 0;
      flex-grow: 0;
      > img {
        height: 400px;
        object-fit: cover;
      }
      > label {
        font-size: 30px;
        line-height: 1.3em;
        font-family: 'Anton', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 0;
        color: #fff;

        text-decoration: underline;
        -webkit-text-decoration-color: #ddc80d;
        text-decoration-color: #ddc80d;
        text-underline-offset: 5px;
        text-align: center;
        width: 100%;
        margin-top: -60px;
        margin-bottom: 50px;
        display: block;
        &.extra-mt {
          margin-top: -100px;
        }
      }
      > p {
        word-break: break-word;
        color: #fff;
        margin-bottom: 1rem;
        font-size: 14px;
        line-height: 1.7em;
        font-family: 'Lato', sans-serif;
      }
    }
  }

  .footer {
    margin-top: 50px;
    border-top: 3px solid #ddc80d;
    background-color: #000;

    .bottom {
      border-top: 1px solid #4a4a4a;
      padding: 25px 0;
      color: #4a4a4a;
      background: #000;
      font-size: 12px;
      p {
        line-height: 1.5em;
        font-family: 'Lato', sans-serif;
      }
      a {
        &:not(:last-child) {
          .icon-el {
            margin-right: 10px;
          }
        }
        .icon-el {
          display: inline-block;
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 13px;
          height: 22px;
          filter: brightness(0.3);
        }
        .facebook {
          background-image: url(https://h-kore.com/assets/images/facebook-w.svg);
        }
        .instagram {
          width: 20px;
          background-image: url(https://h-kore.com/assets/images/instagram-w.svg);
        }
      }
    }
  }

  @media (max-width: 991px) {
    .header-transitioning {
      position: inherit;
      img {
        width: 40px;
      }
    }
    .img-banner {
      background-image: url(https://h-kore.com/uploads/_900x900_fit_center-center_90_none/IMG_9646_1.jpg) !important;
      height: 360px;
      min-height: 0;
      .title {
        font-size: 52px;
        text-align: center;

        .actions {
          text-align: center;

          button {
            padding: 4px 10px;
            font-size: 20px;
            margin-top: 20px;
          }
        }
      }
    }

    .center-p p {
      width: 100%;
      font-size: 14px;
      line-height: 1.5em;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }

    .class-list-item {
      flex: 100%;
    }
    .footer {
      height: auto;
      .bottom {
        flex-direction: column;
        align-items: center;

        p {
          text-align: center;
        }
      }
    }
  }
}
