#invest-ogps-root {
  .banner-img {
    background-image: url(https://invest.ogpsglobal.com/hubfs/Garden%20Towers/Finbar_GardenTowers_Cam03-Aerial_LR.jpg) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  }
  ul li {
    font-size: 14px;
  }

  .features {
    .item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px 30px;
    }

    h2 {
      margin-bottom: 20px !important;
    }
  }

  .gap-2 {
    gap: 2em;
  }

  .bg-green {
    background-color: rgba(39, 78, 19, 1) !important;
  }

  a {
    color: #7b8594;
    text-decoration: none;
  }

  .focus_social_icons {
    padding: 35px 160px;
    display: flex;
    justify-content: center;

    a {
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      display: flex;
      width: 10px;

      svg {
        width: 20px;
      }
      &:first-child svg {
        width: 12px;
      }
    }
  }

  .hy {
    > div {
      flex: 50%;
    }
  }

  .btn-submit {
    background-color: #274e13 !important;
    background-image: none !important;
    border-color: #000000 !important;
    border-radius: 11px !important;
    border-style: none !important;
    border-width: 3px !important;
    color: #ffffff !important;
    font-family: Helvetica, Trebuchet MS, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-align: center !important;
    width: 100%;
  }

  @media (max-width: 991px) {
    .focus_social_icons {
      padding: 35px 80px !important;
    }
    .lft {
      flex: none !important;
      width: 100%;
    }

    .features,
    .blck {
      display: contents !important;
    }

    .blck {
      padding: 10px;
    }

    .foot {
      padding-top: 30px;
    }

    .green-b {
      padding: 0em !important;
    }
    .hy {
      flex-wrap: wrap;
      > div {
        flex: 100%;
      }
    }
  }
}

#invest-ogps-sth-root {
  .banner-img {
    height: 1296px;
    background-image: url(https://invest.ogpsglobal.com/hubfs/STH%20BNK/sth%20bnk%20page%201.png) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  }
  ul li {
    font-size: 14px;
  }

  .features {
    .item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px 30px;
    }

    h2 {
      margin-bottom: 20px !important;
    }
  }

  .gap-2 {
    gap: 2em;
  }

  .bg-green {
    background-color: rgba(23, 85, 50, 1) !important;
  }

  a {
    color: #7b8594;
    text-decoration: none;
  }

  .focus_social_icons {
    padding: 35px 160px;
    display: flex;
    justify-content: center;

    a {
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      display: flex;
      width: 10px;

      svg {
        width: 20px;
      }
      &:first-child svg {
        width: 12px;
      }
    }
  }

  .btn-submit {
    background-color: rgba(23, 85, 50, 1) !important;
    background-image: none !important;
    border-color: #000 !important;
    border-radius: 11px !important;
    border-style: none !important;
    border-width: 3px !important;
    color: #fff !important;
    font-family: Helvetica, Trebuchet MS, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-align: center !important;
    width: 100%;
  }

  @media (max-width: 991px) {
    .banner-img {
      width: auto;
      height: 500px;
    }
    .res-side {
      width: 100% !important;
      flex: 1 100%;
      margin-top: 0px !important;
      video {
        width: 100%;
      }
    }
    .img-m-100 {
      width: 100%;
    }
    .m-w-0 {
      width: 90% !important;
    }
    .lft {
      width: 100% !important;
      flex: 1 100% !important;
    }
    .ff-wrap {
      flex-wrap: wrap;
    }
    .focus_social_icons {
      padding: 35px 80px !important;
    }
    .lft {
      flex: none !important;
      width: 100%;
    }

    .features,
    .blck {
      display: contents !important;
    }

    .blck {
      padding: 10px;
    }

    .foot {
      padding-top: 30px;
    }

    .green-b {
      padding: 0em !important;
    }
  }
}

.invest-ogps-sth-container {
  max-width: 900px !important;
}

.beige-b {
  background-color: rgba(208, 183, 135, 1);
}

#invest-ogps-persimmon-root {
  .banner-img {
    background-image: url(https://invest.ogpsglobal.com/hubfs/Persimmon%20Homes/Shavington-Park-13.jpg) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    height: 590px;
  }
  .header-1 {
    p {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color: #000000;
    }
  }
  hr {
    width: 75%;
    border: 0 none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 121, 97, 1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ul li {
    font-size: 14px;
  }
  .center-title {
    h3 {
      font-size: 30px;
      text-align: center;
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color: #000000;
      font-weight: 700;
      margin-bottom: 20px;
    }

    h4 {
      font-size: 20px;
      line-height: 175%;
      text-align: center;
      font-family: Tahoma, sans-serif;
      color: #007961;
      font-weight: 700;
    }

    i {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 15px;
      text-align: center;
      font-size: 15px;
      width: 100%;
      display: block;
      margin-top: 30px;
    }
  }

  .property-list {
    gap: 2em;
    &-item {
      flex: 48% 0;
      flex-grow: 0;
      width: 100%;
      margin-bottom: 30px;
      h3 {
        font-family: Tahoma, sans-serif;
        color: #007961;
        text-align: left;
        font-size: 24px;
        line-height: 1.15;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      .swiper-slide {
        width: 100% !important;
      }
      h2 {
        font-size: 16px;
        font-weight: normal;
        font-family: tahoma, arial, helvetica, sans-serif;
        font-style: normal;
        letter-spacing: 0;
        line-height: 1.2em;
        margin: 0 0 1em;
        text-decoration: none;
        text-transform: none;
      }

      label {
        text-align: left;
        font-size: 18px;
        line-height: 1;
        font-weight: bold;
        font-family: Tahoma, sans-serif;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      span {
        text-align: left;
        font-size: 28px;
        line-height: 1;
        font-weight: normal;
        font-family: Tahoma, sans-serif;
        color: #000000;
        display: block;
      }
      ul {
        li {
          font-family: Tahoma, Arial, Helvetica, sans-serif;
          color: #000000;
        }
      }
      small {
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        color: #000000;
        font-size: 14px;
        display: block;
        line-height: 1.25;
      }
    }
  }
  .features {
    .item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px 30px;
    }

    h2 {
      margin-bottom: 20px !important;
    }
  }

  .gap-2 {
    gap: 2em;
  }

  .bg-green {
    background-color: rgba(39, 78, 19, 1) !important;
  }

  a {
    color: #7b8594;
    text-decoration: none;
  }

  .focus_social_icons {
    padding: 35px 160px;
    display: flex;
    justify-content: center;

    a {
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      display: flex;
      width: 10px;

      svg {
        width: 20px;
      }
      &:first-child svg {
        width: 12px;
      }
    }
  }

  .btn-submit {
    background-color: #274e13 !important;
    background-image: none !important;
    border-color: #000000 !important;
    border-radius: 11px !important;
    border-style: none !important;
    border-width: 3px !important;
    color: #ffffff !important;
    font-family: Helvetica, Trebuchet MS, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-align: center !important;
    width: 100%;
  }

  @media (max-width: 991px) {
    .property-list {
      &-item {
        flex: 100%;
        flex-grow: 0;
        width: 100%;
      }
    }
    .focus_social_icons {
      padding: 35px 80px !important;
    }
    .lft {
      flex: none !important;
      width: 100%;
    }

    .features,
    .blck {
      display: contents !important;
    }

    .blck {
      padding: 10px;
    }

    .foot {
      padding-top: 30px;
    }

    .green-b {
      padding: 0em !important;
    }
  }
}

#invest-ogps-fulton-root {
  .container {
    &.small {
      max-width: 850px;
    }
  }
  .banner-img {
    background-image: url('https://invest.ogpsglobal.com/hubfs/Fulton%20Fifth%20_Wembley/HubSpot%20banners%20%281920%20%C3%97%20720px%29%20%2826%29.png') !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    height: 590px;

    .banner-info {
      padding-top: 70px;
      h6 {
        font-size: 20px;
        font-weight: bold;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        color: #ffffff;
        margin-bottom: 10px;
      }
      h1 {
        font-size: 55px;
        line-height: 1;
        font-family: Helvetica, Arial, sans-serif;
        color: #ffffff;
        margin-bottom: 10px;
      }
      h5 {
        text-decoration: underline;
        color: #ffffff;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
        line-height: 1.25;
        font-size: 24px;
        text-align: justify;
        font-weight: bold;
      }
      p {
        line-height: 1.25;
        font-size: 16px;
        text-align: justify;
        color: #ffffff;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
      }
    }
  }
  .header-1 {
    p {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color: #000000;
    }
  }
  hr {
    width: 75%;
    border: 0 none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 121, 97, 1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ul li {
    font-size: 14px;
  }
  .center-title {
    h3 {
      font-size: 30px;
      text-align: center;
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color: #000000;
      font-weight: 700;
      margin-bottom: 20px;
    }

    h4 {
      font-size: 20px;
      line-height: 175%;
      text-align: center;
      font-family: Tahoma, sans-serif;
      color: #007961;
      font-weight: 700;
    }

    i {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 15px;
      text-align: center;
      font-size: 15px;
      width: 100%;
      display: block;
      margin-top: 30px;
    }
  }
  .text-img {
    gap: 2em;
    div {
      flex: 50%;
    }
    h1 {
      font-family: Helvetica, Arial, sans-serif;
      color: #1a403b;
      line-height: 1.15;
      font-weight: bold;
      font-size: 24px;
    }
    p {
      line-height: 1.25;
      font-family: Tahoma, Arial, Helvetica, sans-serif;
    }
  }

  .brown-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.15;
    text-align: center;
    color: #9b4c1c;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    &.lft {
      text-align: left;
    }
  }

  .grid {
    gap: 2em;
    > div:first-child {
      flex: 30%;
    }
  }

  .grid-3 {
    gap: 2em;
    > div {
      flex: 31%;
      text-align: center;
    }
    p {
      padding-top: 10px;
      text-align: center;
      line-height: 1.25;
      font-family: Tahoma, Arial, Helvetica, sans-serif;
    }
  }

  .pgraph {
    line-height: 1.25;
    text-align: center;
    font-family: Tahoma, Arial, Helvetica, sans-serif;

    &.lft {
      text-align: left;
    }
  }

  .features {
    .item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px 30px;
    }

    h2 {
      margin-bottom: 20px !important;
    }
  }

  .gap-2 {
    gap: 2em;
  }

  .bg-green {
    background-color: rgba(39, 78, 19, 1) !important;
  }

  a {
    color: #7b8594;
    text-decoration: none;
  }

  .focus_social_icons {
    padding: 35px 160px;
    display: flex;
    justify-content: center;

    a {
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      display: flex;
      width: 10px;

      svg {
        width: 20px;
      }
      &:first-child svg {
        width: 12px;
      }
    }
  }

  .btn-submit {
    background-color: #274e13 !important;
    background-image: none !important;
    border-color: #000000 !important;
    border-radius: 11px !important;
    border-style: none !important;
    border-width: 3px !important;
    color: #ffffff !important;
    font-family: Helvetica, Trebuchet MS, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-align: center !important;
    width: 100%;
  }

  @media (max-width: 991px) {
    .banner-img {
      height: 800px;

      .banner-info {
        padding-top: 0px;
      }

      .act {
        margin-top: 60px !important;
      }
    }
    .grid,
    .text-img {
      flex-direction: column;
      > div {
        flex: 100%;
      }
    }
    .property-list {
      &-item {
        flex: 100%;
        flex-grow: 0;
        width: 100%;
      }
    }
    .focus_social_icons {
      padding: 35px 80px !important;
    }
    .lft {
      flex: none !important;
      width: 100%;
    }

    .features,
    .blck {
      display: contents !important;
    }

    .blck {
      padding: 10px;
    }

    .foot {
      padding-top: 30px;
    }

    .green-b {
      padding: 0em !important;
    }
  }
}

#invest-ogps-floret-root {
  .banner-img {
    height: 1296px;
    background-image: url(https://invest.ogpsglobal.com/hubfs/Floret/GOLD0030_V06_EXT_TypeC_Row_LR.jpg) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  }
  ul li {
    font-size: 14px;
  }

  .features {
    .item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px 30px;
    }

    h2 {
      margin-bottom: 20px !important;
    }
  }

  .gap-2 {
    gap: 2em;
  }

  .bg-green {
    background-color: rgba(23, 85, 50, 1) !important;
  }

  a {
    color: #7b8594;
    text-decoration: none;
  }

  .focus_social_icons {
    padding: 35px 160px;
    display: flex;
    justify-content: center;

    a {
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      display: flex;
      width: 10px;

      svg {
        width: 20px;
      }
      &:first-child svg {
        width: 12px;
      }
    }
  }

  .btn-submit {
    background-color: rgba(23, 85, 50, 1) !important;
    background-image: none !important;
    border-color: #000 !important;
    border-radius: 11px !important;
    border-style: none !important;
    border-width: 3px !important;
    color: #fff !important;
    font-family: Helvetica, Trebuchet MS, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-align: center !important;
    width: 100%;
  }

  @media (max-width: 991px) {
    .banner-img {
      width: auto;
      height: 500px;
    }
    .res-side {
      width: 100% !important;
      flex: 1 100%;
      margin-top: 0px !important;
      video {
        width: 100%;
      }
    }
    .img-m-100 {
      width: 100%;
    }
    .m-w-0 {
      width: 90% !important;
    }
    .lft {
      width: 100% !important;
      flex: 1 100% !important;
    }
    .ff-wrap {
      flex-wrap: wrap;
    }
    .focus_social_icons {
      padding: 35px 80px !important;
    }
    .lft {
      flex: none !important;
      width: 100%;
    }

    .features,
    .blck {
      display: contents !important;
    }

    .blck {
      padding: 10px;
    }

    .foot {
      padding-top: 30px;
    }

    .green-b {
      padding: 0em !important;
    }

    .gg {
      flex-direction: column;
    }
    .g-f {
      flex-direction: column;
    }
  }

  .g-f > div {
    flex: 25%;
  }
}

.invest-ogps-floret-container {
  max-width: 900px !important;
}

.invest-ogps-floret-container p {
  font-family: Helvetica, Trebuchet MS, sans-serif !important;
}

#invest-ogps-burmingham-root {
  .banner-img {
    background-image: url(https://invest.ogpsglobal.com/hubfs/FYlZv7KGeey-1.jpg) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    // height: 590px;

    .banner-content {
      width: 800px;
      justify-items: center;
      color: #fff;
      h1 {
        margin: 0 0 1em;
      }

      h2 {
        line-height: 1.25;
        font-size: 25px;
        text-align: justify;
        font-weight: bold;
        text-decoration: underline;
        color: #888e66;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        margin: 0 0 1em;
      }

      h3 {
        line-height: 1.25;
        font-size: 18px;
        text-align: justify;
        font-weight: bold;
        color: #ffffff;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        margin: 0 0 1em;
      }
      span {
        line-height: 1.25;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        margin: 0 0 1em;
      }
    }
  }
  .header-1 {
    p {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color: #000000;
    }
  }
  hr {
    width: 75%;
    border: 0 none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ul li {
    font-size: 14px;
  }
  .center-title {
    h3 {
      font-size: 30px;
      text-align: center;
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color: #888e66;
      font-weight: 700;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    h4 {
      font-size: 20px;
      line-height: 175%;
      text-align: center;
      font-family: Tahoma, sans-serif;
      color: #007961;
      font-weight: 700;
    }

    i {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 15px;
      text-align: center;
      font-size: 15px;
      width: 100%;
      display: block;
      margin-top: 30px;
    }
  }

  .c-items {
    h3 {
      text-align: center;
      line-height: 1;
      font-size: 30px;
      color: #a4825d;
      font-family: tahoma, arial, helvetica, sans-serif;
      font-weight: 700;
      letter-spacing: 0;
      margin-bottom: 30px;
    }
    h2 {
      text-align: center;
      font-family: MontserratRegular, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0;
    }
  }

  .property-list {
    gap: 2em;
    &-item {
      flex: 48% 0;
      flex-grow: 0;
      width: 100%;
      margin-bottom: 30px;

      .swiper-slide {
        width: 100% !important;
      }
      p {
        margin-top: 30px;
        margin-bottom: 30px;
        color: #000;
        font-family: MontserratRegular, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.8em;
      }

      li {
        color: #000;
        font-family: MontserratRegular, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.8em;
      }
      label {
        text-align: left;
        font-size: 18px;
        line-height: 1;
        font-weight: bold;
        font-family: Tahoma, sans-serif;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      span {
        text-align: left;
        font-size: 28px;
        line-height: 1;
        font-weight: normal;
        font-family: Tahoma, sans-serif;
        color: #000000;
        display: block;
      }

      small {
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        color: #000000;
        font-size: 14px;
        display: block;
        line-height: 1.25;
      }
    }
  }
  .features {
    .item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px 30px;
    }

    h2 {
      margin-bottom: 20px !important;
    }
  }

  .gap-2 {
    gap: 2em;
  }

  .bg-green {
    background-color: rgba(39, 78, 19, 1) !important;
  }

  a {
    color: #7b8594;
    text-decoration: none;
  }

  .focus_social_icons {
    padding: 35px 160px;
    display: flex;
    justify-content: center;

    a {
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      display: flex;
      width: 10px;

      svg {
        width: 20px;
      }
      &:first-child svg {
        width: 12px;
      }
    }
  }
  .cccc h1 {
    text-align: center !important;
    line-height: 1;
    font-size: 30px;
    color: #000;
    font-family: Tahoma, arial, helvetica, sans-serif !important;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 40px;
  }
  .btn-submit {
    background-color: #a4825d !important;
    background-image: none !important;
    border-color: #fff !important;
    border-radius: 11px !important;
    border-style: solid !important;
    border-width: 3px !important;
    color: #ffffff !important;
    font-family: Helvetica, Trebuchet MS, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-align: center !important;
    width: 100%;
  }

  @media (max-width: 991px) {
    .banner-img {
      padding: 0px !important;
    }
    .banner-content > div {
      padding: 30px 10px !important;
    }
    .banner-img > .container {
      padding: 0px !important;
    }
    .property-list {
      &-item {
        flex: 100%;
        flex-grow: 0;
        width: 100%;
      }
    }
    .focus_social_icons {
      padding: 35px 80px !important;
    }
    .lft {
      flex: none !important;
      width: 100%;
    }

    .features,
    .blck {
      display: contents !important;
    }
    .blck {
      a {
        display: inline-block;
      }
    }

    .blck {
      padding: 10px;
    }

    .foot {
      padding-top: 30px;
    }

    .green-b {
      padding: 0em !important;
    }
  }
}

#invest-ogps-expat-root {
  background-color: #f3f2ed;
  display: grid;
  place-items: center;
  > section {
    width: 600px;
    background-color: #fff;
  }
  .heading {
    margin: 0;
    mso-line-height-rule: exactly;
    text-align: center;
    font-size: 30px;
    line-height: 150%;
    font-weight: bold;
    color: '#000000';
    font-family: Verdana, sans-serif;
  }

  .heading-2 {
    margin: 0;
    mso-line-height-rule: exactly;
    text-align: center;
    font-size: 20px;
    line-height: 150%;
    font-weight: bold;
    color: '#000000';
    font-family: Arial, sans-serif;
  }

  .heading-2s {
    margin: 0;
    mso-line-height-rule: exactly;
    text-align: center;
    font-size: 15px;
    line-height: 150%;
    font-weight: bold;
    color: '#000000';
    font-family: Arial, sans-serif;
  }

  .heading-p {
    mso-line-height-rule: exactly;
    text-align: center;
    font-size: 18px;
    line-height: 115%;
    font-weight: bold;
    color: #a68561;
    font-family: Verdana, sans-serif;
  }

  .heading-p-2 {
    mso-line-height-rule: exactly;
    text-align: center;
    font-size: 18px;
    line-height: 115%;
    font-weight: bold;
    color: #000;
    font-family: Verdana, sans-serif;
    span {
      font-weight: 100;
    }
  }

  .ppp {
    text-align: center;
    font-family: Arial, sans-serif;
    a {
      color: #00a4bd;
      text-decoration: underline;
    }
  }

  .ppp2 {
    text-align: center;
    font-family: Arial, sans-serif;
    a {
      text-decoration: underline;
    }
  }

  &.personal {
    .ppp2 {
      font-size: 10px;
    }
  }
  hr {
    border-collapse: collapse;
    mso-line-height-rule: exactly;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #23496d;
    word-break: break-word;
    line-height: 0;
    border: transparent;
    border-bottom: 1px solid #000000;
    mso-border-bottom-alt: 2pt solid #000000;
    border-bottom-width: 1px;

    &.hr-2 {
      border-bottom: 3px solid #000000;
    }
  }

  .ffwa {
    > div {
      flex: 50%;
    }
  }

  .simple-p {
    mso-line-height-rule: exactly;
    line-height: 125%;
    text-align: justify;
    line-height: inherit;
    border-collapse: collapse;
    word-break: break-word;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #000000;
  }

  .simple-p li {
    font-size: 15px;
  }

  label {
    font-family: Tahoma, sans-serif;
    color: #a4825d;
    mso-line-height-rule: exactly;
    font-size: 12px;
    line-height: 150%;
    font-weight: bold;
  }
  ul {
    padding-top: 20px;
    padding-bottom: 20px;
    mso-line-height-rule: exactly;
    line-height: 175%;
    li {
      mso-line-height-rule: exactly;
      font-size: 12px;
      line-height: 150%;
      color: #000000;
      font-family: Tahoma, sans-serif;
    }
  }

  .team {
    > div {
      text-align: center;
      flex: 49%;
      display: grid;
      place-items: center;
    }
    img {
      margin-bottom: 20px;
    }
    strong {
      font-family: Tahoma, sans-serif;
      color: #a68561;
      font-family: Tahoma, sans-serif;
      mso-line-height-rule: exactly;
      font-size: 12px;
      line-height: 175%;
      text-align: center;
      font-weight: bold;
      display: block;
    }

    small {
      display: block;

      mso-line-height-rule: exactly;
      font-size: 12px;
      line-height: 175%;
      text-align: center;
      color: #000000;
      font-family: Tahoma, sans-serif;
    }
  }

  .dflex {
    > div {
      flex: 48%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .iconss {
    margin-bottom: 10px;
    a {
      display: inline;
      margin: 5px;
    }
  }

  @media (max-width: 991px) {
    > section {
      width: auto;
    }

    .dflex {
      flex-wrap: wrap;

      > div {
        flex: 100%;
      }
    }
    .fwlogo {
      flex-wrap: wrap;
      justify-content: center !important;
      gap: 2em;
    }
  }
}

#invest-ogps-park-avenue-root {
  .banner-img {
    background-image: url(https://invest.ogpsglobal.com/hubfs/Park%20Ave%20Hero.jpeg) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    // height: 590px;

    .banner-content {
      width: 800px;
      justify-items: center;
      color: #fff;
      h1 {
        margin: 0 0 1em;
      }

      h2 {
        line-height: 1.25;
        font-size: 25px;
        text-align: justify;
        font-weight: bold;
        text-decoration: underline;
        color: #888e66;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        margin: 0 0 1em;
      }

      h3 {
        line-height: 1.25;
        font-size: 18px;
        text-align: justify;
        font-weight: bold;
        color: #ffffff;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        margin: 0 0 1em;
      }
      span {
        line-height: 1.25;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        margin: 0 0 1em;
      }
    }
  }
  .header-1 {
    p {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color: #000000;
    }
  }
  hr {
    width: 75%;
    border: 0 none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ul li {
    font-size: 14px;
  }
  .center-title {
    h3 {
      font-size: 30px;
      text-align: center;
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color: #888e66;
      font-weight: 700;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    h4 {
      font-size: 20px;
      line-height: 175%;
      text-align: center;
      font-family: Tahoma, sans-serif;
      color: #007961;
      font-weight: 700;
    }

    i {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 15px;
      text-align: center;
      font-size: 15px;
      width: 100%;
      display: block;
      margin-top: 30px;
    }
  }
  .ab {
    color: rgba(136, 142, 102, 1);
    font-weight: bold;
  }

  .saa:not(.bbb) > div {
    flex: 49%;
  }
  .aaaa > div {
    gap: 2em;
    flex-wrap: wrap;
  }
  .aaaa {
    width: 820px;
  }
  .aaaa > div > div {
    flex: 48%;
  }
  .c-items {
    h3 {
      text-align: center;
      line-height: 1;
      font-size: 30px;
      color: #a4825d;
      font-family: tahoma, arial, helvetica, sans-serif;
      font-weight: 700;
      letter-spacing: 0;
      margin-bottom: 30px;
    }
    h2 {
      text-align: center;
      font-family: MontserratRegular, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0;
    }
  }

  .property-list {
    gap: 2em;
    &-item {
      flex: 48% 0;
      flex-grow: 0;
      width: 100%;
      margin-bottom: 30px;

      .swiper-slide {
        width: 100% !important;
      }
      p {
        margin-top: 30px;
        margin-bottom: 30px;
        color: #000;
        font-family: MontserratRegular, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.8em;
      }

      li {
        color: #000;
        font-family: MontserratRegular, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.8em;
      }
      label {
        text-align: left;
        font-size: 18px;
        line-height: 1;
        font-weight: bold;
        font-family: Tahoma, sans-serif;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      span {
        text-align: left;
        font-size: 28px;
        line-height: 1;
        font-weight: normal;
        font-family: Tahoma, sans-serif;
        color: #000000;
        display: block;
      }

      small {
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        color: #000000;
        font-size: 14px;
        display: block;
        line-height: 1.25;
      }
    }
  }
  .features {
    .item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px 30px;
    }

    h2 {
      margin-bottom: 20px !important;
    }
  }

  .gap-2 {
    gap: 2em;
  }

  .bg-green {
    background-color: rgba(39, 78, 19, 1) !important;
  }

  a {
    color: #7b8594;
    text-decoration: none;
  }

  .focus_social_icons {
    padding: 35px 160px;
    display: flex;
    justify-content: center;

    a {
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      display: flex;
      width: 10px;

      svg {
        width: 20px;
      }
      &:first-child svg {
        width: 12px;
      }
    }
  }
  .cccc h1 {
    text-align: center !important;
    line-height: 1;
    font-size: 30px;
    color: #000;
    font-family: Tahoma, arial, helvetica, sans-serif !important;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 40px;
  }
  .btn-submit {
    background-color: #a4825d !important;
    background-image: none !important;
    border-color: #fff !important;
    border-radius: 11px !important;
    border-style: solid !important;
    border-width: 3px !important;
    color: #ffffff !important;
    font-family: Helvetica, Trebuchet MS, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-align: center !important;
    width: 100%;
  }

  @media (max-width: 991px) {
    .saa {
      flex-wrap: wrap;
      width: auto !important;
      img {
        width: 100% !important;
      }
    }
    .saa > div {
      flex: 100%;
    }
    .aaaa {
      width: auto;
    }
    .aaaa > div > div {
      flex: 100%;
    }

    .banner-img {
      padding: 0px !important;
    }
    .banner-content > div {
      padding: 30px 10px !important;
    }
    .banner-img > .container {
      padding: 0px !important;
    }
    .property-list {
      &-item {
        flex: 100%;
        flex-grow: 0;
        width: 100%;
      }
    }
    .focus_social_icons {
      padding: 35px 80px !important;
    }
    .lft {
      flex: none !important;
      width: 100%;
    }

    .features,
    .blck {
      display: contents !important;
    }
    .blck {
      a {
        display: inline-block;
      }
    }

    .blck {
      padding: 10px;
    }

    .foot {
      padding-top: 30px;
    }

    .green-b {
      padding: 0em !important;
    }
  }
}

#invest-wembley-root {
  .banner-img {
    background-image: url(https://invest.ogpsglobal.com/hubfs/Wembley%20Park%20Gardens%20-%20London/4163_WEMBLEY-PARK-HEIGHTS_VIEW01_AERIAL_.jpg) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    // height: 590px;

    .banner-content {
      justify-items: center;
      color: #fff;
      h1 {
        margin: 0 0 1em;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1.2em;
        text-align: center;
        margin: 0 0 1em;
      }

      h2 {
        line-height: 1.25;
        font-size: 30px;
        text-align: center;
        font-weight: 400;
        color: #fff;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        margin: 0 0 1em;
      }

      h3 {
        line-height: 1.25;
        font-size: 18px;
        text-align: justify;
        font-weight: bold;
        color: #ffffff;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        margin: 0 0 1em;
      }
      span {
        line-height: 1.25;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        margin: 0 0 1em;
      }
    }
  }
  .header-1 {
    p {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color: #000000;
    }
  }
  hr {
    width: 75%;
    border: 0 none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ul li {
    font-size: 14px;
  }
  .center-title {
    h3 {
      font-size: 30px;
      text-align: center;
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color: #073763;
      font-weight: 700;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    h4 {
      font-size: 20px;
      line-height: 175%;
      text-align: center;
      font-family: Tahoma, sans-serif;
      color: #007961;
      font-weight: 700;
    }

    i {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 15px;
      text-align: center;
      font-size: 15px;
      width: 100%;
      display: block;
      margin-top: 30px;
    }
    p {
      text-align: center;
      color: #000;
      font-family: MontserratRegular, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.8em;
      text-decoration: none;
    }
  }
  .ab {
    color: rgba(136, 142, 102, 1);
    font-weight: bold;
  }

  .saa:not(.bbb) > div {
    flex: 49%;
  }
  .aaaa > div {
    gap: 2em;
    flex-wrap: wrap;
  }
  .aaaa {
    width: 820px;
  }
  .aaaa > div > div {
    flex: 48%;
  }
  .c-items {
    h3 {
      text-align: center;
      line-height: 1;
      font-size: 30px;
      color: #a4825d;
      font-family: tahoma, arial, helvetica, sans-serif;
      font-weight: 700;
      letter-spacing: 0;
      margin-bottom: 30px;
    }
    h2 {
      text-align: center;
      font-family: MontserratRegular, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0;
    }
  }

  .property-list {
    gap: 2em;
    &-item {
      flex: 48% 0;
      flex-grow: 0;
      width: 100%;
      margin-bottom: 30px;

      .swiper-slide {
        width: 100% !important;
      }
      p {
        margin-top: 30px;
        margin-bottom: 30px;
        color: #000;
        font-family: MontserratRegular, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.8em;
      }

      li {
        color: #000;
        font-family: MontserratRegular, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.8em;
      }
      label {
        text-align: left;
        font-size: 18px;
        line-height: 1;
        font-weight: bold;
        font-family: Tahoma, sans-serif;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      span {
        text-align: left;
        font-size: 28px;
        line-height: 1;
        font-weight: normal;
        font-family: Tahoma, sans-serif;
        color: #000000;
        display: block;
      }

      small {
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        color: #000000;
        font-size: 14px;
        display: block;
        line-height: 1.25;
      }
    }
  }
  .features {
    .item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px 30px;
    }

    h2 {
      margin-bottom: 20px !important;
    }
  }

  .gap-2 {
    gap: 2em;
  }

  .bg-green {
    background-color: rgba(39, 78, 19, 1) !important;
  }

  a {
    color: #7b8594;
    text-decoration: none;
  }

  .focus_social_icons {
    padding: 35px 160px;
    display: flex;
    justify-content: center;

    a {
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      display: flex;
      width: 10px;

      svg {
        width: 20px;
      }
      &:first-child svg {
        width: 12px;
      }
    }
  }
  .cccc h1 {
    text-align: center !important;
    line-height: 1;
    font-size: 30px;
    color: #000;
    font-family: Tahoma, arial, helvetica, sans-serif !important;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 40px;
  }
  .btn-submit {
    background-color: #590617 !important;
    background-image: none !important;
    border-color: #590617 !important;
    border-radius: 11px !important;
    border-style: solid !important;
    border-width: 3px !important;
    color: #ffffff !important;
    font-family: Helvetica, Trebuchet MS, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-align: center !important;
    width: 100%;
  }

  @media (max-width: 991px) {
    .saa {
      flex-wrap: wrap;
      width: auto !important;
      img {
        width: 100% !important;
      }
    }
    .saa > div {
      flex: 100%;
    }
    .aaaa {
      width: auto;
    }
    .aaaa > div > div {
      flex: 100%;
    }

    .banner-img {
      padding: 0px !important;
    }
    .banner-content > div {
      padding: 30px 10px !important;
    }
    .banner-img > .container {
      padding: 0px !important;
    }
    .property-list {
      &-item {
        flex: 100%;
        flex-grow: 0;
        width: 100%;
      }
    }
    .focus_social_icons {
      padding: 35px 80px !important;
    }
    .lft {
      flex: none !important;
      width: 100%;
    }

    .features,
    .blck {
      display: contents !important;
    }
    .blck {
      a {
        display: inline-block;
      }
    }

    .blck {
      padding: 10px;
    }

    .foot {
      padding-top: 30px;
    }

    .green-b {
      padding: 0em !important;
    }
  }
}

#invest-hendon-root {
  .banner-img {
    background-image: url(https://invest.ogpsglobal.com/hubfs/HW%201.jpeg) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    // height: 590px;

    .banner-content {
      justify-items: center;
      color: #fff;
      h1 {
        margin: 0 0 1em;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1.2em;
        text-align: center;
        margin: 0 0 1em;
      }

      h2 {
        line-height: 1.25;
        font-size: 30px;
        text-align: center;
        font-weight: 400;
        color: #fff;
        font-family: MontserratRegular, sans-serif;
        margin: 0 0 1em;
      }

      h3 {
        line-height: 1.25;
        font-size: 18px;
        text-align: justify;
        font-weight: bold;
        color: #ffffff;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        margin: 0 0 1em;
      }
      span {
        line-height: 1.25;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        margin: 0 0 1em;
      }
    }
  }
  .header-1 {
    p {
      font-family: Montserrat, sans-serif;
      color: #000000;
    }
  }
  hr {
    width: 75%;
    border: 0 none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ul li {
    font-size: 14px;
  }
  .center-title {
    h3 {
      font-size: 24px;
      text-align: center;
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color: #000;
      font-weight: 700;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    h4 {
      font-size: 20px;
      line-height: 175%;
      text-align: center;
      font-family: Tahoma, sans-serif;
      color: #007961;
      font-weight: 700;
    }

    i {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 15px;
      text-align: center;
      font-size: 15px;
      width: 100%;
      display: block;
      margin-top: 30px;
    }
    p {
      text-align: center;
      color: #000;
      font-family: MontserratRegular, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.8em;
      text-decoration: none;
    }
  }
  .ab {
    color: rgba(136, 142, 102, 1);
    font-weight: bold;
  }

  .saa:not(.bbb) > div {
    flex: 49%;
  }
  .aaaa > div {
    gap: 2em;
    flex-wrap: wrap;
  }
  .aaaa {
    width: 820px;
  }
  .aaaa > div > div {
    flex: 48%;
  }
  .c-items {
    h3 {
      text-align: center;
      line-height: 1;
      font-size: 30px;
      color: #a4825d;
      font-family: tahoma, arial, helvetica, sans-serif;
      font-weight: 700;
      letter-spacing: 0;
      margin-bottom: 30px;
    }
    h2 {
      text-align: center;
      font-family: MontserratRegular, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0;
    }
  }

  .property-list {
    gap: 2em;
    &-item {
      flex: 48% 0;
      flex-grow: 0;
      width: 100%;
      margin-bottom: 30px;

      .swiper-slide {
        width: 100% !important;
      }
      p {
        margin-top: 30px;
        margin-bottom: 30px;
        color: #000;
        font-family: MontserratRegular, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.8em;
      }

      li {
        color: #000;
        font-family: MontserratRegular, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.8em;
      }
      label {
        text-align: left;
        font-size: 18px;
        line-height: 1;
        font-weight: bold;
        font-family: Tahoma, sans-serif;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      span {
        text-align: left;
        font-size: 28px;
        line-height: 1;
        font-weight: normal;
        font-family: Tahoma, sans-serif;
        color: #000000;
        display: block;
      }

      small {
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        color: #000000;
        font-size: 14px;
        display: block;
        line-height: 1.25;
      }
    }
  }
  .features {
    .item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px 30px;
    }

    h2 {
      margin-bottom: 20px !important;
    }
  }

  .gap-2 {
    gap: 2em;
  }

  .bg-green {
    background-color: rgba(39, 78, 19, 1) !important;
  }

  a {
    color: #7b8594;
    text-decoration: none;
  }

  .focus_social_icons {
    padding: 35px 160px;
    display: flex;
    justify-content: center;

    a {
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      display: flex;
      width: 10px;

      svg {
        width: 20px;
      }
      &:first-child svg {
        width: 12px;
      }
    }
  }
  .cccc h1 {
    text-align: center !important;
    line-height: 1;
    font-size: 30px;
    color: #000;
    font-family: Tahoma, arial, helvetica, sans-serif !important;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 40px;
  }
  .btn-submit {
    background-color: #590617 !important;
    background-image: none !important;
    border-color: #590617 !important;
    border-radius: 11px !important;
    border-style: solid !important;
    border-width: 3px !important;
    color: #ffffff !important;
    font-family: Helvetica, Trebuchet MS, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-align: center !important;
    width: 100%;
  }

  @media (max-width: 991px) {
    .banner-content {
      h1 {
        font-size: 28px !important;
      }
      h2 {
        font-size: 30px !important;
      }
    }
    .saa {
      flex-wrap: wrap;
      width: auto !important;
      img {
        width: 100% !important;
      }
    }
    .saa > div {
      flex: 100%;
    }
    .aaaa {
      width: auto;
    }
    .aaaa > div > div {
      flex: 100%;
    }

    .banner-img {
      padding: 0px !important;
    }
    .banner-content > div {
      padding: 30px 10px !important;
    }
    .banner-img > .container {
      padding: 0px !important;
    }
    .property-list {
      &-item {
        flex: 100%;
        flex-grow: 0;
        width: 100%;
      }
    }
    .focus_social_icons {
      padding: 35px 80px !important;
    }
    .lft {
      flex: none !important;
      width: 100%;
    }

    .features,
    .blck {
      display: contents !important;
    }
    .blck {
      a {
        display: inline-block;
      }
    }

    .blck {
      padding: 10px;
    }

    .foot {
      padding-top: 30px;
    }

    .green-b {
      padding: 0em !important;
    }
  }
}

#invest-ogps-park-quarter-root {
  .banner-img {
    height: 1296px;
    background-image: url(https://invest.ogpsglobal.com/hubfs/Floret/GOLD0030_V06_EXT_TypeC_Row_LR.jpg) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  }
  ul li {
    font-size: 14px;
  }

  .header-1 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
  }

  .p-center {
    text-align: justify;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 13%;
    padding-right: 13%;
  }

  .invest-ogps-floret-container {
    gap: 2em;
    > div {
      flex: 50%;
    }
    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.8em;
      text-align: justify;
    }
    h1 {
      font-size: 20px;
      line-height: 1.5;
      font-weight: bold;
      text-align: center;
      color: #000000;
      font-family: Helvetica, Arial, sans-serif;
    }
  }

  .features {
    .item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px 30px;
    }

    h2 {
      margin-bottom: 20px !important;
    }
  }

  .gap-2 {
    gap: 2em;
  }

  .bg-green {
    background-color: rgba(23, 85, 50, 1) !important;
  }

  a {
    color: #7b8594;
    text-decoration: none;
  }

  .focus_social_icons {
    padding: 35px 160px;
    display: flex;
    justify-content: center;

    a {
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      display: flex;
      width: 10px;

      svg {
        width: 20px;
      }
      &:first-child svg {
        width: 12px;
      }
    }
  }

  .btn-submit {
    background-color: rgba(23, 85, 50, 1) !important;
    background-image: none !important;
    border-color: #000 !important;
    border-radius: 11px !important;
    border-style: none !important;
    border-width: 3px !important;
    color: #fff !important;
    font-family: Helvetica, Trebuchet MS, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-align: center !important;
    width: 100%;
  }

  @media (max-width: 991px) {
    .banner-img {
      width: auto;
      height: 500px;
    }
    .res-side {
      width: 100% !important;
      flex: 1 100%;
      margin-top: 0px !important;
      video {
        width: 100%;
      }
    }
    .img-m-100 {
      width: 100%;
    }
    .m-w-0 {
      width: 90% !important;
    }
    .lft {
      width: 100% !important;
      flex: 1 100% !important;
    }
    .ff-wrap {
      flex-wrap: wrap;
    }
    .focus_social_icons {
      padding: 35px 80px !important;
    }
    .lft {
      flex: none !important;
      width: 100%;
    }

    .features,
    .blck {
      display: contents !important;
    }

    .blck {
      padding: 10px;
    }

    .foot {
      padding-top: 30px;
    }

    .green-b {
      padding: 0em !important;
    }

    .gg {
      flex-direction: column;
    }
    .g-f {
      flex-direction: column;
    }

    .pg {
      flex-wrap: wrap;
    }
  }

  .g-f > div {
    flex: 20%;
  }
}
