@font-face {
  font-family: BreathingRegular;
  src: url(https://pave-prd.s3.ap-southeast-1.amazonaws.com/landing_pages/jelliot/fonts/Breathing+Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: CenturyGothicRegular;
  src: url(https://pave-prd.s3.ap-southeast-1.amazonaws.com/landing_pages/jelliot/fonts/CenturyGothic.ttf);
  font-display: swap;
}

@font-face {
  font-family: CenturyGothicBold;
  src: url(https://pave-prd.s3.ap-southeast-1.amazonaws.com/landing_pages/jelliot/fonts/gothicb.ttf);
  font-display: swap;
}

#j-elliot-root {
  @media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: 1366px;
    }
  }
  .banner-col {
    flex-wrap: wrap;
    > div {
      flex: 50%;
      h3 {
        &.h-1 {
          font-family: 'BreathingRegular';
          color: #ffffff;
          font-size: 32px;
        }
        &.h-2 {
          font-family: 'CenturyGothicRegular';
          color: #ffffff;
          font-size: 32px;
        }
        &.h-5 {
          font-family: 'CenturyGothicBold';
          color: #ffffff;
          font-size: 45px;
        }
      }
    }
  }
  .list-f {
    font-family: 'CenturyGothicRegular';
    color: #ffffff;
    font-size: 20px;
    flex-wrap: wrap;
    > div {
      flex: 50%;
      text-indent: 30px;
    }
    width: 600px;
  }
  button {
    font-family: 'CenturyGothicBold';
    border: 1px solid #fff;
    background-color: #fff;
    color: #779ba5;
    padding: 10px 30px;
    font-size: 16px;
  }

  .text-row {
    .h-1 {
      font-family: 'BreathingRegular';
      color: #779ba5;
      font-size: 28px;
      text-align: center;
    }

    .sh-1 {
      font-family: 'CenturyGothicBold';
      font-size: 18px;
      text-align: center;
    }
  }
  p {
    font-family: 'CenturyGothicRegular';
    font-size: 18px;
    text-align: center;

    b {
      font-family: 'CenturyGothicBold';
    }
  }
  .h-3 {
    font-family: 'CenturyGothicBold';
    color: #000000;
    font-size: 28px;
  }
  .h-4 {
    font-family: 'CenturyGothicBold';
    color: #000000;
    font-size: 28px;
    text-align: center;
  }
  .h-5 {
    font-family: 'CenturyGothicBold';
    color: #fff;
    font-size: 45px;
    text-align: center;
  }
  ul {
    padding: 18px;
    li {
      font-size: 18px;
      color: #000;
      font-family: 'CenturyGothicRegular';
      margin-bottom: 10px;
    }
  }

  .banner-w-list {
    > div {
      padding: 70px;
    }
  }

  .grid-items {
    gap: 2em;
    flex-wrap: wrap;
    > div {
      position: relative;
      > .mask {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: transparent;
        top: 0px;
        left: 0px;
        z-index: 1;
        opacity: 1;
      }
      &:hover {
        > .mask {
          background-color: #685858;
          opacity: 0.8;
        }
      }
    }
    b {
      color: #fff;
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      margin: auto;
      z-index: 1;
      font-family: 'CenturyGothicBold';
      width: 100%;
      height: 16px;
      font-size: 16px;
      text-align: center;
      padding: 0px 20px;
    }
  }

  @media (max-width: 991px) {
    .banner-col {
      &.p-rev {
        flex-direction: column-reverse;
      }
      > div {
        flex-direction: column-reverse;
        flex: 100%;
      }
      text-align: center;
      img:not(.list-fimg) {
        height: 300px !important;
        min-height: auto !important;
        margin: 0px !important;
      }

      .h-1,
      .h-2 {
        font-size: 18px !important;
      }

      .tt {
        padding: 50px 0px;
        button {
          margin-top: 20px !important;
        }
      }

      .md {
        height: 300px !important;
        flex: auto;
      }
    }

    .text-row {
      .h-1 {
        font-size: 16px !important;
        line-height: 2;
        margin-top: 50px !important;
      }
      .sh-1 {
        font-size: 12px !important;
      }

      p {
        font-size: 12px !important;
      }
    }

    li {
      font-size: 12px !important;
    }

    .h-5 {
      font-size: 28px !important;
    }
    .list-f {
      width: 100%;
      > div {
        text-align: left;
        text-indent: 30px;
        // flex: 100%;
        font-size: 12px;
        svg {
          height: 12px;
        }
      }
    }
    .list-fimg {
      width: 100%;
    }
  }
}
