@font-face {
  font-display: swap;
  font-family: 'Circular';
  src: url(../scss/fonts/CircularStd-Black.woff2) format('woff');
}
#lucid-vue-root {
  .center-me {
    display: grid;
    place-items: center;
  }

  .black-bg {
    background-color: #000;
  }
  .blue-bg {
    background-color: #7ba6de;
  }

  .feature-list {
    gap: 3em;
    > div {
      flex: 50%;
      img {
        height: 50vh;
      }

      h1 {
        border-bottom: 1px solid #333;
        padding-bottom: 30px;
      }

      p {
        color: #444;
        font-weight: 300;
        font-size: 1.2rem;
        align-items: center !important;
      }
    }
  }

  .services {
    gap: 2em;
    > div {
      flex: 48%;
    }
  }

  .fut {
    > div {
      flex: 48%;
    }
  }

  .services-2 {
    gap: 1em;
    > div {
      flex: 31%;
    }
  }

  .clients {
    margin-bottom: 100px;
    gap: 1em;
    > div {
      padding: 20px;
      flex: 24% 0;
      display: grid;
      place-items: center;
    }

    img {
      width: auto;
      height: 2rem;
    }
  }

  .focus_social_icons {
    display: flex;
    justify-content: start;

    a {
      display: grid;
      width: 50px;
      place-items: center;

      svg {
        width: 20px;
      }
      &:first-child svg {
        width: 12px;
      }
    }
  }

  @media (max-width: 991px) {
    .feature-list {
      flex-wrap: wrap;
      > div {
        flex: 100%;

        > div {
          margin-top: 2rem !important;
        }
        h1 {
          font-size: 2.5rem !important;
        }
        p {
          font-size: 19px !important;
        }
      }
    }

    .mmm,
    .mmmm {
      margin-top: 30px !important;
    }

    .title-big {
      font-size: 29px !important;
    }

    .clients {
      flex-wrap: wrap;
      > div {
        flex: 48%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .services-2 {
      > div {
        flex: 100%;
      }
    }

    .focus_social_icons {
      justify-content: center;
      margin-bottom: 10px;
    }
  }

  .fut {
    text-align: center;
    font-family: Apercu, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  .focus_social_icons {
    display: flex;
  }

  .blue-bg,
  .black-bg {
    margin-top: 1rem !important;
  }

  .mmm {
    margin-top: 100px;
  }
}
