@font-face {
  font-display: swap;
  font-family: 'Futura Medium';
  src: url(../scss/fonts/Futura-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Futura Bold';
  src: url(../scss/fonts/Futura-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url(../scss/fonts/Avenir-Heavy.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

#raeon-root {
  font-family: 'Futura Medium' !important;
  .banner-img {
    background-image: url(https://www.rae-on.com/wp-content/uploads/2023/02/GabrielSaunders_SouthMelbourne_13_EXT_Hovering-scaled.jpg) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    height: 500px;
  }

  .country {
    font-size: 19px;
    font-weight: 500;
    background: #39c3f1;
    line-height: 1.1;
    width: 87px;
    text-align: center;
    color: #fff;
    padding: 3px;
    display: block;
    margin: 0 0 4px;

    white-space: nowrap;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
  }

  .project-top__left {
    border-left: 2px solid #39c3f1;
    padding-left: 20px;
    h1 {
      font-size: 38px;
      line-height: 52px;
      letter-spacing: 0;

      font-weight: 900;
      color: #014976;
      font-family: 'Avenir', sans-serif;
      margin: 0;
    }

    h2 {
      font-size: 38px;
      letter-spacing: 0;
      line-height: 1;
      font-weight: 900;
      color: #014976;
      font-family: 'Avenir', sans-serif;
      margin: 0 0 20px;

      span {
        font-weight: 700;
        font-size: 19px;
        line-height: 25px;
      }
    }
  }
  .project-map {
    padding: 20px 0 85px;
    h4 {
      font-weight: 500;
      color: #014976;
      font-size: 19px;
      line-height: 25px;
      margin: 0 0 25px;
      font-family: 'Futura Medium' !important;
      text-align: center;
    }
  }
  .section__heading {
    span {
      color: #014976;

      font-weight: 700;
      font-family: 'Futura Bold';
      text-align: center;
      font-size: 25px;
      line-height: 33px;
      display: inline-block;
      border-bottom: 3px solid #39c3f1;
      padding-bottom: 10px;
    }
  }

  .form {
    color: #33475b;
    > div {
      border-radius: 10px;
    }
  }

  .enquire-wrapper {
    background-color: #014976;
  }
  .enquire {
    gap: 60px;
    padding: 36px 0;
    font-family: 'Futura Bold' !important;
    color: #fff;
    background-color: #014976;
    h2,
    a {
      font-family: 'Futura Bold' !important;
    }
    a {
      color: #fff;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
    }
    h3 {
      font-family: 'Futura Medium' !important;
      font-size: 19px;
      line-height: 25px;
      padding-left: 0;
    }
    > div {
      flex: 1 33%;
    }
  }
  .project-top__center ul {
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    color: #014976;
    font-family: 'Avenir', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: flex;
      padding: 11px 0 13px;
      label {
        font-family: 'Futura Bold';
        font-weight: 700;
        width: 50%;
        padding-right: 15px;
        margin: 0;
        font-size: 15px;
      }
      div {
        width: 60%;
        display: flex;
        flex-wrap: nowrap;
        font-size: 16px;
        font-family: 'Futura Medium';
      }
      & + li {
        border-top: 1px solid #014976;
      }
    }
  }
  ul li {
    font-size: 14px;
  }

  .features {
    .item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px 30px;
    }

    h2 {
      margin-bottom: 20px !important;
    }
  }

  .gap-2 {
    gap: 2em;
  }

  .bg-green {
    background-color: rgba(39, 78, 19, 1) !important;
  }

  a {
    color: #7b8594;
    text-decoration: none;
  }

  .focus_social_icons {
    padding: 35px 160px;
    display: flex;
    justify-content: center;

    a {
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      display: flex;
      width: 10px;

      svg {
        width: 20px;
      }
      &:first-child svg {
        width: 12px;
      }
    }
  }

  .grid3 {
    > div {
      flex: 1 33%;
    }
  }

  .project-content__body {
    > p {
      font-family: 'Futura Medium' !important;
      font-size: 19px;
    }
    text-align: center;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    max-width: 1160px;
    margin: 0 auto;
    color: #000;
    width: calc(100% - 60px);
    table {
      p {
        font-size: 19px;

        font-family: 'Futura Medium' !important;
      }
      tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        td:last-child {
          padding-left: 30px;
          text-align: left;
          width: 84% !important;
        }

        td:first-child {
          border-right: 1px solid #014976;
          padding-bottom: 28px;
          padding-top: 28px;
          text-align: left;
          width: 16% !important;
        }
      }
    }
  }

  .btn-submit {
    background-color: #014976 !important;
    background-image: none !important;
    border-color: #000000 !important;
    border-radius: 11px !important;
    border-style: none !important;
    border-width: 3px !important;
    color: #ffffff !important;
    font-family: Helvetica, Trebuchet MS, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-align: center !important;
    width: 100%;
  }

  .list-socials {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    gap: 1em;
  }

  .footer-top__whatsapp {
    background: url(https://rae-on.b-cdn.net/wp-content/themes/reactdigisystem/assets/images/whatsapp-icon.svg)
      no-repeat 0 0/20px auto;
    background-size: 49px auto;
    background-position: 0 50%;
    padding-left: 60px;
  }
  .footer-top__email {
    background: url(https://rae-on.b-cdn.net/wp-content/themes/reactdigisystem/assets/images/email-icon.svg)
      no-repeat 0 0/20px auto;
    background-size: 49px auto;
    background-position: 0 50%;
    padding-left: 60px;
  }
  @media (max-width: 991px) {
    .focus_social_icons {
      padding: 35px 80px !important;
    }
    .lft {
      flex: none !important;
      width: 100%;
    }

    .features,
    .blck {
      display: contents !important;
    }

    .blck {
      padding: 10px;
    }

    .foot {
      padding-top: 30px;
    }

    .green-b {
      padding: 0em !important;
    }

    .subscribe-wrapper {
      padding-left: 30px;
      padding-right: 30px;
    }

    .footer-raeon {
      text-align: center;
      .d-flex > div {
        flex: none !important;
        width: 100%;
      }
    }

    .grid3 {
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

    .project-map {
      padding-left: 30px;
      padding-right: 30px;
    }

    .grid3 {
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    .logo-raeon {
      width: 50%;
    }

    .enquire {
      gap: 30px;
      > div:first-child {
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
        h2 {
          font-size: 19px;
        }
      }
      flex-wrap: wrap;
      padding-left: 30px;
      padding-right: 30px;
      > div {
        flex: none !important;
        width: 100%;
      }
    }
  }
}
