#strculture-root {
  color: #fff;
  height: 100%;
  background-color: #000;
  .banner-img {
    position: relative;
    background-image: url(https://static.wixstatic.com/media/f77aea_ed3d7c5a68984af68ce7583989707493~mv2.jpg/v1/fill/w_1616,h_1362,al_c,q_90,enc_auto/f77aea_ed3d7c5a68984af68ce7583989707493~mv2.jpg) !important;
    // background-size: cover !important;
    // background-position: center center !important;
    // background-repeat: no-repeat !important;
    height: 700px;
    .banner-mask {
      opacity: 0.4;
      z-index: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000;
      top: 0;
      left: 0;
    }
  }

  h3 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin: 0px;
    text-decoration: underline;
  }
  h5 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    margin-bottom: 25px;
  }
  p {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1rem;
  }
  b {
    font-weight: bold;
  }
  .gap-2 {
    gap: 2em;
  }

  .btn-submit {
    background-color: #000 !important;
    background-image: none !important;
    border-color: #fff !important;
    border-radius: 0px !important;
    border-style: solid !important;
    border-width: 3px !important;
    color: #fff !important;
    font-family: Helvetica, Trebuchet MS, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-align: center !important;
    width: 290px;
  }

  .image-tag-selected {
    border: 3px solid #fff !important;
    background-color: #000 !important;
  }

  .focus_social_icons {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    width: 110px;

    a {
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      display: flex;
      width: 10px;

      svg {
        width: 30px;
      }
      &:first-child svg {
        width: 15px;
      }
    }
  }

  @media (max-width: 991px) {
    .fff {
      flex-direction: column !important;
    }
    h3 {
      font-size: 1.8rem;
    }
    h5 {
      font-size: 0.87rem !important;
    }
    p {
      font-size: 1rem !important;
    }
    .banner-img {
      height: 1210px;
    }
  }
}
