# This is a sample build configuration for JavaScript.
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: atlassian/default-image:2

pipelines:
  branches:
    'master':
      - step:
          name: "Feature CI"
          image: node:14.19.0
          caches:
            - node
          services:
            - mysql
          script:
            - export NODE_OPTIONS=--max-old-space-size=3072
            - git clone git@bitbucket.org:pave/api.git
            - cd api
            - npm install
            - npm run ups
            - cd ..
            - npm install
            - npm i -g forever eslint@7.32.0
            - forever start server.js
            - npm run lint
            - npm run test
      - step:
          name: "Build Production API Integrations"
          script:
            - zip -r application.zip . --exclude=*.git* --exclude=node_module*
          artifacts:
            - application.zip
      - step:
          name: "Deploy to Production"
          deployment: production
          script:
            - pipe: atlassian/aws-elasticbeanstalk-deploy:0.5.0
              variables:
                AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_PRODUCTION
                AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_PRODUCTION
                AWS_DEFAULT_REGION: "ap-southeast-1"
                APPLICATION_NAME: "pave-api-integrations-production"
                ENVIRONMENT_NAME: 'pave-api-integrations-production'
                ZIP_FILE: "application.zip"
                VERSION_LABEL: 'deploy-$BITBUCKET_BUILD_NUMBER-main'
                WAIT: 'true'
    'chaaat-master':
      - step:
          name: "Feature CI"
          image: node:14.19.0
          caches:
            - node
          services:
            - mysql
          script:
            - export NODE_OPTIONS=--max-old-space-size=3072
            - git clone git@bitbucket.org:pave/api.git
            - cd api
            - npm install
            - npm run ups
            - cd ..
            - npm install
            - npm i -g forever eslint@7.32.0
            - forever start server.js
            - npm run lint
            - npm run test
      - step:
          name: "Build Production API Integrations"
          script:
            - zip -r application.zip . --exclude=*.git* --exclude=node_module*
          artifacts:
            - application.zip
      - step:
          name: "Deploy to Production"
          deployment: production
          script:
            - pipe: atlassian/aws-elasticbeanstalk-deploy:0.5.0
              variables:
                AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_PRODUCTION
                AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_PRODUCTION
                AWS_DEFAULT_REGION: "ap-southeast-1"
                APPLICATION_NAME: "pave-api-integrations-production"
                ENVIRONMENT_NAME: 'Chaaat-integration'
                ZIP_FILE: "application.zip"
                VERSION_LABEL: 'deploy-$BITBUCKET_BUILD_NUMBER-main'
                WAIT: 'true'
    'qa':
      - step:
          name: "Feature CI"
          image: node:14.19.0
          caches:
            - node
          services:
            - mysql
          script:
            - export NODE_OPTIONS=--max-old-space-size=3072
            - git clone git@bitbucket.org:pave/api.git
            - cd api
            - npm install
            - npm run ups
            - cd ..
            - npm install
            - npm i -g forever eslint@7.32.0
            - forever start server.js
            - npm run lint
            - npm run test
      - step:
          name: "Build QA API Integrations"
          script:
            - zip -r application.zip . --exclude=*.git* --exclude=node_module*
          artifacts:
            - application.zip
      - step:
          name: "Deploy to QA"
          deployment: qa
          script:
            - pipe: atlassian/aws-elasticbeanstalk-deploy:0.5.0
              variables:
                AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_QA
                AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_QA
                AWS_DEFAULT_REGION: "ap-southeast-1"
                APPLICATION_NAME: "pave-api-integrations-qa"
                ENVIRONMENT_NAME: 'pave-api-integrations-qa'
                ZIP_FILE: "application.zip"
                VERSION_LABEL: 'deploy-$BITBUCKET_BUILD_NUMBER-main'
                WAIT: 'true'
    'staging':
      - step:
          name: "Feature CI"
          image: node:14.19.0
          caches:
            - node
          services:
            - mysql
          script:
            - export NODE_OPTIONS=--max-old-space-size=3072
            - git clone git@bitbucket.org:pave/api.git
            - cd api
            - git checkout staging
            - npm install
            - npm run ups
            - cd ..
            - npm install
            - npm i -g forever eslint@7.32.0
            - forever start server.js
            - npm run lint
            - npm run test
      - step:
          name: "Build Staging API Integrations"
          script:
            - zip -r application.zip . --exclude=*.git* --exclude=node_module*
          artifacts:
            - application.zip
      - step:
          name: "Deploy to Staging"
          deployment: staging
          script:
            - pipe: atlassian/aws-elasticbeanstalk-deploy:0.5.0
              variables:
                AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_STAGING
                AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_STAGING
                AWS_DEFAULT_REGION: "ap-southeast-1"
                APPLICATION_NAME: "pave-api-integrations-staging"
                ENVIRONMENT_NAME: 'PaveApiIntegrationsStaging-env'
                ZIP_FILE: "application.zip"
                VERSION_LABEL: 'deploy-$BITBUCKET_BUILD_NUMBER-main'
                WAIT: 'true'
    '{feature/*,bugfix/*,hotfix/*,release/*}':
      - step:
          name: "Feature CI"
          image: node:14.19.0
          caches:
            - node
          services:
            - mysql
          script:
            - export NODE_OPTIONS=--max-old-space-size=3072
            - git clone git@bitbucket.org:pave/api.git
            - cd api
            - npm install
            - npm run ups
            - cd ..
            - npm install
            - npm i -g forever eslint@7.32.0
            - forever start server.js
            - npm run lint
            - npm run test
            
definitions:
  services:
    mysql:
      image: mysql:5.7
      memory: 512 # memory: 1024  # default value
      variables:
        MYSQL_DATABASE: pave_development
        MYSQL_USER: pavewebmaster
        MYSQL_PASSWORD: ZM3z8LvwwQW6pmEePrz7NRUv8
        MYSQL_ROOT_PASSWORD: pavewebmaster