.dashboard-items-wrapper {
  margin: 0 auto;
  gap: 1em;
  flex-wrap: wrap;
  width: 90%;
}


.dashboard-items-content {
  width: 70%;
  position: relative;
  padding: 10px;
  font-family: 'Poppins';
  font-style: normal;
  margin: .5px;
}

.dashboard-items-content.connect {
  width: 30%;
}

.dashboard-overview-wrapper {
  margin-bottom: 10px;
  gap: 1em;
  width: 100%;
}
.dashboard-overview-wrapper .dashboard-overview-wrapper-item {
  box-shadow: 0px 4px 15px 0px #d9d9d9;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  gap: 1em;
  flex-grow: 1;
}

.dashboard-overview-wrapper .dashboard-overview-wrapper-item-icon {
  position: relative;
  display: inline-block;
  align-content: center;
  text-align: center;
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.dashboard-overview-wrapper .dashboard-overview-wrapper-item-details span {
  margin-left: 10px;
  font-family: 'PoppinsSemiBold';
  color: #182327;
  font-size: 20px;
}

.dashboard-overview-wrapper .dashboard-overview-wrapper-item-description {
  margin-top: 15px;
  font-family: 'PoppinsRegular';
  font-size: 14px;
}

/* start message items */
.dashboard-overview-wrapper .dashboard-overview-wrapper-item-1 {
  box-shadow: 0 4px 15px #d9d9d9;
  padding: 20px 20px;
  border-radius: 30px;
  gap: 1em;
  flex-grow: 1;
  width: 25%;
}

.dashboard-overview-wrapper-item-1 .dashboard-overview-wrapper-item-details {
  margin-top: 10px !important;
  vertical-align: middle;
}

.dashboard-overview-wrapper-item-1 .dashboard-overview-wrapper-item-details label {
  font-family: 'PoppinsSemiBold' !important;
}

.dashboard-overview-wrapper .dashboard-overview-wrapper-item-details {
  display: inline;
}

.dashboard-overview-wrapper .dashboard-overview-wrapper-item-details label {
  font-family: 'PoppinsRegular';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #02021e;
  margin-bottom: 0px;
  margin-left: 10px;
  
}

.dashboard-overview-wrapper-item-1 button.btn-gradient {
  margin-top: 25px;
  bottom: -5px;
  padding: 15px 30px;
  border-radius: 24px;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  position: relative;
  background:
    linear-gradient(90deg, #4877ff 0%, #6170f4 21%, #9b60db 91%) !important;
}
/* end message items */

/* start message stats */
.dashboard-overview-message-wrapper {
  width: 100%;
  position: relative;
  /* background: linear-gradient(73deg, #29f2bc1a -79.22%, #4877ff1a 49.7%, #f945b31a 178.62%); */
  border: solid .01rem transparent;
  border-radius: 30px;
}

.dashboard-overview-message-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  border: solid 1px transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #4877ff, #6170f4, #9b60db);
  
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-sizing: border-box;
}


.dashboard-overview-message-stat {
  padding: 20px;
  width: 100%;
  height: 250px;
  background:
    linear-gradient(73deg, #29f2bc1a -79.22%, #4877ff1a 49.7%, #f945b31a 178.62%);
  border-radius: 30px;
}

.dashboard-overview-message-stat label {
  font-family: 'PoppinsSemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #02021e;
  margin-bottom: 0px;
}

.dashboard-overview-message-stat label.overview:nth-child(1) {
  width: 80%;
}

.dashboard-overview-message-stat label.overview:nth-child(2) {
  width: 20%;
  text-align: right;
  font-weight: 200;
  font-size: 20px;
  font-family: 'PoppinsRegular';
}

.dashboard-message-stat-details {
  width: 100%;
}

.dashboard-message-stat-details > .stat {
  position: relative;
  width: 25%;
  height: 100px;
  display: flex;
}

.dashboard-message-stat-icon {
  margin-top: 10px;
  width: 35%;
}
.dashboard-message-stat-content {
  width: 65%;
  padding-top: 20px;
}

.dashboard-message-stat-content label, .dashboard-message-stat-content span {
  display: block;
}

/* end message stats */


/* User and contact section */

.dashboard-overview-wrapper .dashboard-overview-wrapper-item-2 {
  border: 1px solid #ccc;
  padding: 20px 20px;
  border-radius: 30px;
  gap: 1em;
  flex-grow: 1;
  width: 25%;
}

.dashboard-overview-wrapper-item-2 span {
  font-family: 'PoppinsRegular' !important;
  font-size: 16px !important;
}

.dashboard-user-contact-details {
  height: 100px;
  width: 100%;
}

.dashboard-user-contact-details > .user-contact {
  position: relative;
  height: 0px;
  display: flex;
}

.dashboard-user-contact-details-icon {
  margin-right: 15px;
}

.dashboard-user-contact-details-content {
  width: 75%;
}

.dashboard-user-contact-details-content label {
  font-family: 'PoppinsSemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #02021e;
  margin-bottom: 0px;
  margin-left: 10px;
}

.dashboard-user-contact-details-content span {
  display: block;
  margin-left: 10px;
  color: #182327;
  font-size: 16px;
  width: 400px;
}

.dashboard-user-contact-details-button {
  position: relative;
  top: 60px;
  right: -100px !important;
}

.dashboard-user-contact-details > .dashboard-user-contact-details-button-min {
  display: none;
}

.dashboard-overview-wrapper-item-2 button.btn-gradient {
  width: 100px;
  padding: 15px;
  border-radius: 30px;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  position: relative;
}

.dashboard-overview-wrapper-item-2 button.btn-gradient.member {
  background-color: #DCDCF4;
  color: #02021e;
}

.dashboard-overview-wrapper-item-2 button.btn-gradient.contact {
  background-color: #FEEEDC;
  color: #02021e;
}

/* End user and contacts section */

/* start integrations */

.dashboard-overview-wrapper .dashboard-overview-wrapper-item-3 {
  border: 10px solid #E6EDFE;
  padding: 20px;
  width: 100%;
  border-radius: 30px;
}

.dashboard-integration-details {
  height: 190px;
  width: 100%;
}

.dashboard-integration-details > .integration {
  position: relative;
  height: 0px;
  display: flex;
}

.dashboard-integration-details-icon {
  margin-right: 15px;
}

.dashboard-integration-details-content {
  width: 75%;
}

.dashboard-integration-details-content label {
  font-family: 'PoppinsSemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #02021e;
  margin-bottom: 0px;
  margin-left: 10px;
}

.dashboard-integration-details-content span {
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  color: #182327;
  font-size: 16px;
}

.dashboard-integration-details-button {
  position: relative;
  display: block;
  margin-top: 20px;
}

.dashboard-integration-details-button button.btn-gradient,
.dashboard-integration-details-button-min button.btn-gradient {
  padding: 15px 30px;
  border-radius: 24px;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  position: relative;
  background:
    linear-gradient(90deg, #4877ff 0%, #6170f4 21%, #9b60db 91%) !important;
}

.dashboard-integration-details-button-min {
  display: none;
}

/* end integrations */


/* start waba */

.dashboard-overview-wrapper .dashboard-overview-wrapper-item-4 {
  background-color: #02021E;
  background-image: url('https://cdn.yourpave.com/assets/dashboard-ellipsis.png'),
    url('https://cdn.yourpave.com/assets/dashboard-waba-connect.png');
  background-size: 45% 40%, 50% 75%; /* Width: 50% of the container, Height: 75% */
  background-position: bottom left, bottom right; /* Positions image at bottom-right */
  background-repeat: no-repeat, no-repeat; /* Prevents repeating the image */
  padding: 20px;
  width: 100%;
  height: 300px;
  border-radius: 30px;
}

.dashboard-waba-details {
  height: 190px;
  width: 100%;
}

.dashboard-waba-details > .waba-connect {
  position: relative;
  height: 0px;
  display: flex;
}

.dashboard-waba-details-icon {
  margin-right: 15px;
}

.dashboard-waba-details-content {
  width: 100%;
}

.dashboard-waba-details-content label {
  font-family: 'PoppinsSemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #FFF;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.dashboard-waba-details-content span {
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  color: #FFF;
  font-size: 18px;
}

.dashboard-waba-details-button {
  position: absolute;
  left: 0;
  top: 215px;
}

.dashboard-waba-details-button button.btn-gradient {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  position: relative;
  background:
    linear-gradient(90deg, #4877ff 0%, #6170f4 21%, #9b60db 91%) !important;
}

/* end waba */

.dashboard-overview.btn-gradient:disabled {
  background: #dee1e0 !important;
  color: #fff !important;
  cursor: not-allowed;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 375px) and (max-width: 1023px) {
  .dashboard-items-wrapper {
    width: 100%;
  }
  .dashboard-items-wrapper > .d-flex {
    display: block !important;
  }

  /* start message items */
  .dashboard-overview-wrapper .dashboard-overview-wrapper-item-1 {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .dashboard-overview-wrapper .dashboard-overview-wrapper-item-details label {
    font-size: 35px !important;
  }
  .dashboard-overview-wrapper .dashboard-overview-wrapper-item-description {
    font-size: 30px !important;
    text-align: center;
  }
  .dashboard-overview-wrapper-item-1 button.btn-gradient {
    width: 100%;
    font-size: 30px !important;
  }
  /* end message items */

  /* start message stat */
  .dashboard-overview-message-stat {
    height: fit-content;
  }
  .dashboard-overview-message-stat label.overview {
    display: block !important;
    text-align: center !important;
  }
  .dashboard-overview-message-stat label.overview:nth-child(1) {
    font-size: 40px !important;
    width: 100%;
  }
  
  .dashboard-overview-message-stat label.overview:nth-child(2) {
    width: 100%;
    font-size: 25px;
  }
  .dashboard-message-stat-details .stat {
    width: 100% !important;
    margin-top: 20px;
  }
  .dashboard-message-stat-details .stat .dashboard-message-stat-content {
    width: 100% !important;
    text-align: left;
  }
  .dashboard-message-stat-icon {
    text-align: center !important;
  }
  .dashboard-message-stat-content label {
    font-size: 60px !important;
  }
  .dashboard-message-stat-content span {
    font-size: 30px !important;
  }
  /* end message stat */

  /* start user and contact section */
  .dashboard-overview-wrapper-item-2 {
    width: 100% !important;
    height: fit-content;
    padding-bottom: 40px !important;
    margin-top: 20px;
  }
  .dashboard-user-contact-details.d-flex {
    display: inline-block !important;
  }
  .dashboard-user-contact-details-content {
    width: 100% !important;
  }
  .dashboard-user-contact-details-content label {
    font-size: 30px !important;
    width: 70%;
  }
  .dashboard-user-contact-details-content span {
    font-size: 20px !important;
    width: 70%;
  }
  .integration .dashboard-user-contact-details-button {
    display: none;
    width: 100%;
  }
  .dashboard-user-contact-details-button-min {
    display: block !important;
    width: 100%;
    margin-top: 20px;
  }

  .dashboard-user-contact-details-button-min .btn-gradient {
    width: 100% !important;
    font-size: 25px !important;
  }
  /* end user and contact section */

  /* start integrations */

  .dashboard-overview-wrapper .dashboard-overview-wrapper-item-3 {
    width: 100% !important;
    height: 450px !important;
  }

  .dashboard-integration-details-content label {
    font-size: 35px !important;
  }

  .dashboard-integration-details-content span {
    font-size: 25px !important;
  }

  .dashboard-integration-details-button {
    display: none;
  }

  .dashboard-integration-details-button-min {
    display: block;
    width: 100%;
    position: absolute;
    bottom: -380px;
  }

  .dashboard-integration-details-button-min .btn-gradient {
    width: 100% !important;
    font-size: 25px !important;
  }

    /* end integrations */

  /* start waba section */
  .dashboard-waba-details-button button {
    width: 300px;
    padding: 20px !important;
    top: -15px !important;
    font-size: 20px !important;
  }


  .dashboard-items-content {
    width: 100% !important;
  }

}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1024px) and (max-width: 1439px) {
  .dashboard-items-wrapper {
    width: 100%;
  }
  .dashboard-items-wrapper > .d-flex {
    display: block !important;
  }
  .dashboard-items-wrapper {
    margin: 0 auto;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
  }
  
  
  .dashboard-items-content {
    width: 100%;
    position: relative;
    padding: 10px;
    font-family: 'Poppins';
    font-style: normal;
    margin: .5px;
  }
  
  .dashboard-items-content.connect {
    width: 100%;
  }

  /* start message items */
  .dashboard-overview-wrapper .dashboard-overview-wrapper-item-1 {
    width: 20% !important;
    margin-bottom: 20px;
  }
  .dashboard-overview-wrapper .dashboard-overview-wrapper-item-details label {
    font-size: 25px !important;
  }
  .dashboard-overview-wrapper .dashboard-overview-wrapper-item-description {
    font-size: 20px !important;
    text-align: center;
    height: 100px;
  }
  .dashboard-overview-wrapper-item-1 button.btn-gradient {
    position: relative;
    bottom: 0 !important;
    font-size: 15px !important;
  }
  /* end message items */

  /* start message stat */
  .dashboard-overview-message-stat {
    height: fit-content;
  }
  .dashboard-overview-message-stat label.overview {
    display: block !important;
    text-align: center !important;
  }
  .dashboard-overview-message-stat label.overview:nth-child(1) {
    font-size: 30px !important;
    width: 100%;
  }
  
  .dashboard-overview-message-stat label.overview:nth-child(2) {
    width: 100%;
    font-size: 25px;
  }
  .dashboard-message-stat-details {
    padding-bottom: 40px;
  }
  .dashboard-message-stat-details .stat {
    width: 50% !important;
    margin-top: 20px;
  }
  .dashboard-message-stat-details .stat .dashboard-message-stat-content {
    width: 50% !important;
    text-align: left;
  }
  .dashboard-message-stat-icon {
    text-align: center !important;
  }
  .dashboard-message-stat-icon img {
    text-align: center !important;
    width: 100;
    height: 100;
  }
  .dashboard-message-stat-content label {
    font-size: 35px !important;
  }
  .dashboard-message-stat-content span {
    font-size: 25px !important;
    width: 100% !important;
  }
  /* end message stat */

  /* start user and contact section */
  /* .dashboard-overview-wrapper-item-2 {
    width: 100% !important;
    height: fit-content;
    padding-bottom: 40px !important;
    margin-top: 20px;
  } */
  .dashboard-overview-wrapper .dashboard-overview-wrapper-item-2 {
    border: 1px solid #ccc;
    padding: 20px 20px;
    border-radius: 30px;
    gap: 1em;
    flex-grow: 1;
    width: 25%;
    height: fit-content;
    padding-bottom: 40px !important;
  }
  .dashboard-user-contact-details.d-flex {
    display: inline-block !important;
  }
  .dashboard-user-contact-details-content {
    width: 100% !important;
  }
  .dashboard-user-contact-details-content label {
    font-size: 25px !important;
    width: 100%;
    height: 60px;
  }
  .dashboard-user-contact-details-content span {
    font-size: 20px !important;
    width: 100%;
    margin-bottom: 40px;
    height: 50px;
  }
  .integration .dashboard-user-contact-details-button {
    display: none;
    width: 100%;
  }
  .dashboard-user-contact-details-button-min {
    display: block !important;
    width: 30%;
    margin: 0 auto;
  }

  .dashboard-user-contact-details-button-min .btn-gradient {
    width: 100% !important;
    font-size: 25px !important;
  }
  /* end user and contact section */


  /* start integrations */

  .dashboard-overview-wrapper .dashboard-overview-wrapper-item-3 {
    width: 100% !important;
    height: 280px !important;
  }

  .dashboard-integration-details .integration {
    width: 100% !important;
  }

  .dashboard-integration-details-content {
    width: 100% !important;
}

  .dashboard-integration-details-content label {
    font-size: 30px !important;
    width: 100% !important;
  }

  .dashboard-integration-details-content span {
    font-size: 20px !important;
    width: 100% !important;
  }

  .dashboard-integration-details-button {
    display: none;
  }

  .dashboard-integration-details-button-min {
    display: block;
    position: absolute;
    bottom: -200px;
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .dashboard-integration-details-button-min .btn-gradient {
    font-size: 25px !important;
  }

  /* start waba */

.dashboard-overview-wrapper .dashboard-overview-wrapper-item-4 {
  background-color: #02021E;
  background-image: url('https://cdn.yourpave.com/assets/dashboard-ellipsis.png'),
    url('https://cdn.yourpave.com/assets/dashboard-waba-connect.png');
  background-size: 55% 50%, 35% 85%; /* Width: 50% of the container, Height: 75% */
  background-position: bottom left, bottom right; /* Positions image at bottom-right */
  background-repeat: no-repeat, no-repeat; /* Prevents repeating the image */
  padding: 20px;
  width: 100%;
  height: 300px;
  border-radius: 30px;
}

.dashboard-waba-details {
  height: 190px;
  width: 100%;
}

.dashboard-waba-details > .waba-connect {
  position: relative;
  height: 0px;
  display: flex;
}

.dashboard-waba-details-icon {
  margin-right: 15px;
}

.dashboard-waba-details-content {
  width: 100%;
}

.dashboard-waba-details-content label {
  font-family: 'PoppinsSemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #FFF;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.dashboard-waba-details-content span {
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  color: #FFF;
  font-size: 20px;
}

.dashboard-waba-details-button {
  position: absolute;
  left: 0;
  top: 200px;
}

.dashboard-waba-details-button button.btn-gradient {
  font-size: 25px !important;
}

/* end waba */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1440px) and (max-width: 2499px) {
  .dashboard-items-wrapper {
    margin: 0 auto;
    width: 100%;
  }
  
  .dashboard-items-content {
    width: 70%;
    position: relative;
    padding: 10px;
    font-family: 'Poppins';
    font-style: normal;
    margin: 5px;
    margin-bottom: 30px;
  }
  .dashboard-items-content.connect {
    width: 30%;
  }

  /* start user and contact section */
  /* .dashboard-overview-wrapper-item-2 {
    width: 100% !important;
    height: fit-content;
    padding-bottom: 40px !important;
    margin-top: 20px;
  } */
  .dashboard-overview-wrapper .dashboard-overview-wrapper-item-2 {
    border: 1px solid #ccc;
    padding: 20px 20px;
    border-radius: 30px;
    gap: 1em;
    flex-grow: 1;
    width: 25%;
    height: 250px;
    padding-bottom: 40px !important;
  }
  .dashboard-user-contact-details.d-flex {
    display: inline-block !important;
  }
  .dashboard-user-contact-details-content {
    width: 100% !important;
  }
  .dashboard-user-contact-details-content label {
    font-size: 20px !important;
    width: 100%;
    height: 60px;
    max-height: 60px;
    text-wrap: nowrap;
  }
  .dashboard-user-contact-details-content span {
    font-size: 15px !important;
    width: 100%;
    margin-bottom: 40px;
    height: 100px;
    max-height: 100px !important;
  }
  .integration .dashboard-user-contact-details-button {
    display: none;
  }
  .dashboard-user-contact-details-button-min {
    display: block !important;
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: right;
    bottom: 40px !important;
  }

  .dashboard-user-contact-details-button-min .btn-gradient {
    padding: 15px 30px !important;
    font-size: 16px !important;
    text-align: center;
  }
  /* end user and contact section */

  /* start message stat */
  .dashboard-overview-message-stat {
    height: fit-content;
  }
  .dashboard-overview-message-stat label.overview {
    display: block !important;
    text-align: center !important;
  }
  .dashboard-overview-message-stat label.overview:nth-child(1) {
    font-size: 30px !important;
    width: 100%;
  }
  
  .dashboard-overview-message-stat label.overview:nth-child(2) {
    width: 100%;
    font-size: 25px;
  }
  .dashboard-message-stat-details {
    padding-bottom: 40px;
  }
  .dashboard-message-stat-details .stat {
    width: 50% !important;
    margin-top: 20px;
  }
  .dashboard-message-stat-details .stat .dashboard-message-stat-content {
    width: 50% !important;
    text-align: left;
  }
  .dashboard-message-stat-icon {
    text-align: center !important;
  }
  .dashboard-message-stat-icon img {
    text-align: center !important;
    width: 100;
    height: 100;
  }
  .dashboard-message-stat-content label {
    font-size: 35px !important;
  }
  .dashboard-message-stat-content span {
    font-size: 20px !important;
    width: 100% !important;
  }
  /* end message stat */

  /* start integration section */
  .dashboard-integration-details-content span {
    font-size: 14px !important;
  }

  /* start waba section */
  .dashboard-waba-details-content label {
    font-size: 20px;
    line-height: 25px;
  }

  .dashboard-overview-wrapper .dashboard-overview-wrapper-item-4 {
    background-color: #02021E;
    background-image: url('https://cdn.yourpave.com/assets/dashboard-ellipsis.png'),
      url('https://cdn.yourpave.com/assets/dashboard-waba-connect.png');
    background-size: 50%, 50%; /* Width: 50% of the container, Height: 75% */
    background-position: bottom left, bottom right; /* Positions image at bottom-right */
    background-repeat: no-repeat, no-repeat; /* Prevents repeating the image */
    padding: 20px;
    width: 100%;
    height: 300px;
    border-radius: 30px;
  }

  /* end waba section */
}

/* PRICING COMPONENT END */