# This is a sample build configuration for JavaScript.
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: public.ecr.aws/sam/build-nodejs18.x

pipelines:
  branches:
    'master':
      - step:
          name: "Feature CI"
          caches:
            - node
          services:
            - mysql
          script:
            - export NODE_OPTIONS=--max-old-space-size=3072
            - git clone git@bitbucket.org:pave/api.git
            - cd api
            - npm install
            - npm run ups
            - cd ..
            - npm install
            - npm run lint
            - npm run test
      - step:
          name: "Deploy to Production"
          deployment: production
          script:
            - AWS_ACCESS_KEY_ID='${AWS_ACCESS_KEY_ID_PRODUCTION}'
            - AWS_SECRET_ACCESS_KEY='${AWS_SECRET_ACCESS_KEY_PRODUCTION}'
            - mkdir -p ~/.aws
            - echo -e "[default]\n" > ~/.aws/credentials
            - echo -e "aws_access_key_id = $AWS_ACCESS_KEY_ID_PRODUCTION\n" >> ~/.aws/credentials
            - echo -e "aws_secret_access_key = $AWS_SECRET_ACCESS_KEY_PRODUCTION\n" >> ~/.aws/credentials
            - sam build --template-file build/sam/staging/template.yaml --base-dir . --build-dir .aws-sam/build
            - sam build --template-file build/sam/production/template.yaml --base-dir . --build-dir .aws-sam/build
            - |
              sam deploy --template-file .aws-sam/build/template.yaml --no-confirm-changeset --no-fail-on-empty-changeset \
              --region=ap-southeast-1 \
              --capabilities CAPABILITY_IAM \
              --stack-name api-functions-production \
              --s3-bucket pave-api-functions-deployment-production \
              --parameter-overrides ParameterKey=EnvNameParameter,ParameterValue="production" \
              ParameterKey=PaveSecretIdParameter,ParameterValue="${AWS_SECRET_ID_PRODUCTION}"
    'qa':
      - step:
          name: "Feature CI"
          caches:
            - node
          services:
            - mysql
          script:
            - export NODE_OPTIONS=--max-old-space-size=3072
            - git clone git@bitbucket.org:pave/api.git
            - cd api
            - npm install
            - npm run ups
            - cd ..
            - npm install
            - npm run lint
            - npm run test
      - step:
          name: "Deploy to QA"
          deployment: qa
          script:
            - AWS_ACCESS_KEY_ID='${AWS_ACCESS_KEY_ID_QA}'
            - AWS_SECRET_ACCESS_KEY='${AWS_SECRET_ACCESS_KEY_QA}'
            - mkdir -p ~/.aws
            - echo -e "[default]\n" > ~/.aws/credentials
            - echo -e "aws_access_key_id = $AWS_ACCESS_KEY_ID_QA\n" >> ~/.aws/credentials
            - echo -e "aws_secret_access_key = $AWS_SECRET_ACCESS_KEY_QA\n" >> ~/.aws/credentials
            - sam build --template-file build/sam/staging/template.yaml --base-dir . --build-dir .aws-sam/build
            - sam build --template-file build/sam/qa/template.yaml --base-dir . --build-dir .aws-sam/build
            - |
              sam deploy --template-file .aws-sam/build/template.yaml --no-confirm-changeset --no-fail-on-empty-changeset \
              --region=ap-southeast-1 \
              --capabilities CAPABILITY_IAM \
              --stack-name api-functions-qa \
              --s3-bucket pave-api-functions-deployment-qa \
              --parameter-overrides ParameterKey=EnvNameParameter,ParameterValue="qa" \
              ParameterKey=PaveSecretIdParameter,ParameterValue="${AWS_SECRET_ID_QA}"
    'staging':
      - step:
          name: "Feature CI"
          caches:
            - node
          services:
            - mysql
          script:
            - export NODE_OPTIONS=--max-old-space-size=3072
            - git clone git@bitbucket.org:pave/api.git
            - cd api
            - npm install
            - npm run ups
            - cd ..
            - npm install
            - npm run lint
            - npm run test
      - step:
          name: "Deploy to Staging"
          deployment: staging
          script:
            - AWS_ACCESS_KEY_ID='${AWS_ACCESS_KEY_ID_STAGING}'
            - AWS_SECRET_ACCESS_KEY='${AWS_SECRET_ACCESS_KEY_STAGING}'
            - mkdir -p ~/.aws
            - echo -e "[default]\n" > ~/.aws/credentials
            - echo -e "aws_access_key_id = $AWS_ACCESS_KEY_ID_STAGING\n" >> ~/.aws/credentials
            - echo -e "aws_secret_access_key = $AWS_SECRET_ACCESS_KEY_STAGING\n" >> ~/.aws/credentials
            - sam build --template-file build/sam/staging/template.yaml --base-dir . --build-dir .aws-sam/build
            - | 
              sam deploy --template-file .aws-sam/build/template.yaml --no-confirm-changeset --no-fail-on-empty-changeset \
              --region=ap-southeast-1 \
              --capabilities CAPABILITY_IAM \
              --stack-name api-functions-staging \
              --s3-bucket pave-api-functions-deployment-staging \
              --parameter-overrides ParameterKey=EnvNameParameter,ParameterValue="staging" \
              ParameterKey=PaveSecretIdParameter,ParameterValue="${AWS_SECRET_ID_STAGING}"
    'feature/CT-939':
      - step:
          name: "Feature CI"
          caches:
            - node
          services:
            - mysql
          script:
            - export NODE_OPTIONS=--max-old-space-size=3072
            - git clone git@bitbucket.org:pave/api.git
            - cd api
            - npm install
            - npm run ups
            - cd ..
            - npm install
            - npm run lint
            - npm run test
      - step:
          name: "Deploy to Staging Booking"
          deployment: staging-booking
          script:
            - AWS_ACCESS_KEY_ID='${AWS_ACCESS_KEY_ID_STAGING}'
            - AWS_SECRET_ACCESS_KEY='${AWS_SECRET_ACCESS_KEY_STAGING}'
            - mkdir -p ~/.aws
            - echo -e "[default]\n" > ~/.aws/credentials
            - echo -e "aws_access_key_id = $AWS_ACCESS_KEY_ID_STAGING\n" >> ~/.aws/credentials
            - echo -e "aws_secret_access_key = $AWS_SECRET_ACCESS_KEY_STAGING\n" >> ~/.aws/credentials
            - sam build --template-file build/sam/staging-booking/template.yaml --base-dir . --build-dir .aws-sam/build
            - | 
              sam deploy --template-file .aws-sam/build/template.yaml --no-confirm-changeset --no-fail-on-empty-changeset \
              --region=ap-southeast-1 \
              --capabilities CAPABILITY_IAM \
              --stack-name api-functions-staging-booking \
              --s3-bucket pave-api-functions-deployment-staging \
              --parameter-overrides ParameterKey=EnvNameParameter,ParameterValue="booking" \
              ParameterKey=PaveSecretIdParameter,ParameterValue="${AWS_SECRET_ID_STAGING}"
    '{feature/*,bugfix/*,hotfix/*,release/*}':
      - step:
          name: "Feature CI"
          caches:
            - node
          services:
            - mysql
          script:
            - export NODE_OPTIONS=--max-old-space-size=3072
            - git clone git@bitbucket.org:pave/api.git
            - cd api
            - npm install
            - npm run ups
            - cd ..
            - npm install
            - npm run lint
            - npm run test

definitions:
  services:
    mysql:
      image: mysql:5.7
      memory: 512 # memory: 1024  # default value
      variables:
        MYSQL_DATABASE: pave_development
        MYSQL_USER: pavewebmaster
        MYSQL_PASSWORD: ZM3z8LvwwQW6pmEePrz7NRUv8
        MYSQL_ROOT_PASSWORD: pavewebmaster