# This is a sample build configuration for JavaScript.
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: atlassian/default-image:2

pipelines:
  branches:
    'master':
      - parallel:
          - step:
              name: 'Build Production Webapp'
              script:
                - zip -r application.zip . --exclude=*.git* --exclude=node_module*
              artifacts:
                - application.zip
      - parallel:
          - step:
              name: 'Deploy to Production'
              deployment: production
              script:
                - pipe: atlassian/aws-elasticbeanstalk-deploy:0.5.0
                  variables:
                    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_PRODUCTION
                    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_PRODUCTION
                    AWS_DEFAULT_REGION: 'ap-southeast-1'
                    APPLICATION_NAME: 'pave-webapp'
                    ENVIRONMENT_NAME: 'PaveWebapp-env-node-14'
                    ZIP_FILE: 'application.zip'
                    VERSION_LABEL: 'deploy-$BITBUCKET_BUILD_NUMBER-main'
                    WAIT: 'true'
    'qa':
      - parallel:
          - step:
              name: 'Build QA Webapp'
              script:
                - zip -r application.zip . --exclude=*.git* --exclude=node_module*
              artifacts:
                - application.zip
      - parallel:
          - step:
              name: 'Deploy to QA'
              deployment: qa
              script:
                - pipe: atlassian/aws-elasticbeanstalk-deploy:0.5.0
                  variables:
                    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_QA
                    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_QA
                    AWS_DEFAULT_REGION: 'ap-southeast-1'
                    APPLICATION_NAME: 'pave-webapp-qa'
                    ENVIRONMENT_NAME: 'PaveWebappQa-env-node-14-1'
                    ZIP_FILE: 'application.zip'
                    VERSION_LABEL: 'deploy-$BITBUCKET_BUILD_NUMBER-main'
                    WAIT: 'true'
    'staging':
      - step:
          name: 'Build Staging Webapp Admin Node 14'
          image: node:14.19.0
          caches:
            - node
            - npm
          script:
            - sed -i s/deb.debian.org/archive.debian.org/g /etc/apt/sources.list
            - sed -i 's|security.debian.org|archive.debian.org/|g' /etc/apt/sources.list
            - sed -i '/stretch-updates/d' /etc/apt/sources.list
            - apt-get update
            - apt-get install zip -y
            - npm ci
            - NODE_ENV=staging npx next build
            - zip -r application.zip . --exclude=*.git*
          artifacts:
            - application.zip
      - step:
          name: 'Deploy to Upgrade Staging'
          deployment: staging
          script:
            - pipe: atlassian/aws-elasticbeanstalk-deploy:0.5.0
              variables:
                AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_STAGING
                AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_STAGING
                AWS_DEFAULT_REGION: 'ap-southeast-1'
                APPLICATION_NAME: 'pave-webapp-staging'
                ENVIRONMENT_NAME: 'PaveWebappStaging-env-node-14-upgrade'
                ZIP_FILE: 'application.zip'
                VERSION_LABEL: 'deploy-$BITBUCKET_BUILD_NUMBER-main'
                WAIT: 'true'
    # 'upgrade-test':
    #   - step:
    #       name: 'Run Test'
    #       image: cypress/base:14.19.0
    #       caches:
    #         - node
    #         - npm
    #         - cypress
    #       script:
    #         - npm ci
    #         - NEXT_PUBLIC_APP_ENV=staging npx next build
    #         - npx next start -p 3115 &
    #         - npx wait-on http://localhost:3115
    #         - npx cypress run --config video=false
    #   - step:
    #       name: 'Build Webapp'
    #       script:
    #         - zip -r application.zip . --exclude=*.git* --exclude=node_module*
    #       artifacts:
    #         - application.zip
    #   - step:
    #       name: 'Deploy to Upgrade Staging'
    #       deployment: staging
    #       script:
    #         - pipe: atlassian/aws-elasticbeanstalk-deploy:0.5.0
    #           variables:
    #             AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_STAGING
    #             AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_STAGING
    #             AWS_DEFAULT_REGION: 'ap-southeast-1'
    #             APPLICATION_NAME: 'pave-webapp-staging'
    #             ENVIRONMENT_NAME: 'PaveWebappStaging-env-node-14-upgrade'
    #             ZIP_FILE: 'application.zip'
    #             VERSION_LABEL: 'deploy-$BITBUCKET_BUILD_NUMBER-main'
    #             WAIT: 'true'
    'upgrade':
      - step:
          name: 'Build Staging Webapp Admin Node 14'
          image: node:14.19.0
          caches:
            - node
            - npm
          script:
            - sed -i s/deb.debian.org/archive.debian.org/g /etc/apt/sources.list
            - sed -i 's|security.debian.org|archive.debian.org/|g' /etc/apt/sources.list
            - sed -i '/stretch-updates/d' /etc/apt/sources.list
            - apt-get update
            - apt-get install zip -y
            - npm ci
            - NODE_ENV=staging npx next build
            - zip -r application.zip . --exclude=*.git*
          artifacts:
            - application.zip
      - step:
          name: 'Deploy to Upgrade Staging'
          deployment: staging
          script:
            - pipe: atlassian/aws-elasticbeanstalk-deploy:0.5.0
              variables:
                AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_STAGING
                AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_STAGING
                AWS_DEFAULT_REGION: 'ap-southeast-1'
                APPLICATION_NAME: 'pave-webapp-staging'
                ENVIRONMENT_NAME: 'PaveWebappStaging-env-node-14-upgrade'
                ZIP_FILE: 'application.zip'
                VERSION_LABEL: 'deploy-$BITBUCKET_BUILD_NUMBER-main'
                WAIT: 'true'
    'upgrade-qa':
      - step:
          name: 'Build QA Webapp Admin Node 14'
          image: node:14.19.0
          caches:
            - node
            - npm
          script:
            - sed -i s/deb.debian.org/archive.debian.org/g /etc/apt/sources.list
            - sed -i 's|security.debian.org|archive.debian.org/|g' /etc/apt/sources.list
            - sed -i '/stretch-updates/d' /etc/apt/sources.list
            - apt-get update
            - apt-get install zip -y
            - npm ci
            - NODE_ENV=qa npx next build
            - zip -r application.zip . --exclude=*.git*
          artifacts:
            - application.zip
      - step:
          name: 'Deploy to Upgrade QA'
          deployment: qa
          script:
            - pipe: atlassian/aws-elasticbeanstalk-deploy:0.5.0
              variables:
                AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_QA
                AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_QA
                AWS_DEFAULT_REGION: 'ap-southeast-1'
                APPLICATION_NAME: 'pave-webapp-qa'
                ENVIRONMENT_NAME: 'PaveWebappQa-env-node-14-upgrade'
                ZIP_FILE: 'application.zip'
                VERSION_LABEL: 'deploy-$BITBUCKET_BUILD_NUMBER-main'
                WAIT: 'true'
    'upgrade-prod':
      - step:
          name: 'Build Production Webapp Admin Node 14'
          image: node:14.19.0
          caches:
            - node
            - npm
          script:
            - sed -i s/deb.debian.org/archive.debian.org/g /etc/apt/sources.list
            - sed -i 's|security.debian.org|archive.debian.org/|g' /etc/apt/sources.list
            - sed -i '/stretch-updates/d' /etc/apt/sources.list
            - apt-get update
            - apt-get install zip -y
            - npm ci
            - NODE_ENV=production npx next build
            - zip -r application.zip . --exclude=*.git*
          artifacts:
            - application.zip
      - step:
          name: 'Deploy to Upgrade Production'
          deployment: production
          script:
            - pipe: atlassian/aws-elasticbeanstalk-deploy:0.5.0
              variables:
                AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_PRODUCTION
                AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_PRODUCTION
                AWS_DEFAULT_REGION: 'ap-southeast-1'
                APPLICATION_NAME: 'pave-webapp'
                ENVIRONMENT_NAME: 'PaveWebapp-env-node-14'
                ZIP_FILE: 'application.zip'
                VERSION_LABEL: 'deploy-$BITBUCKET_BUILD_NUMBER-main'
                WAIT: 'true'
    'chaaat-master':
      - step:
          name: 'Build Production Chaaat App Node 14'
          image: node:14.19.0
          caches:
            - node
            - npm
          script:
            - sed -i s/deb.debian.org/archive.debian.org/g /etc/apt/sources.list
            - sed -i 's|security.debian.org|archive.debian.org/|g' /etc/apt/sources.list
            - sed -i '/stretch-updates/d' /etc/apt/sources.list
            - apt-get update
            - apt-get install zip -y
            - npm ci
            - NODE_ENV=production npx next build
            - zip -r application.zip . --exclude=*.git*
          artifacts:
            - application.zip
      - step:
          name: 'Deploy to Upgrade Production'
          deployment: production
          script:
            - pipe: atlassian/aws-elasticbeanstalk-deploy:0.5.0
              variables:
                AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_PRODUCTION
                AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_PRODUCTION
                AWS_DEFAULT_REGION: 'ap-southeast-1'
                APPLICATION_NAME: 'pave-webapp'
                ENVIRONMENT_NAME: 'Pave-webapp-env'
                ZIP_FILE: 'application.zip'
                VERSION_LABEL: 'deploy-$BITBUCKET_BUILD_NUMBER-main'
                WAIT: 'true'
definitions:
  caches:
    npm: ~/.npm
    cypress: ~/.cache
